.form-wrapper.d-flex.align-items-center.justify-content-around
  .container
    .row.text-center
      .col-12
        %h2 Регистрация
    .row.align-items-center
      .form-img.hidden-md-down
        = link_to root_path do
          = image_tag 'logo2.png', class: 'img-fluid'
      .form-container
        = form_for @user, html: {class: 'form-horizontal'}  do |f|
          .form-group
            = f.label 'Ваше имя', class: 'lable-control'
            .input-group
              %span.input-group-addon
                %i.fa.fa-user{style: 'aria-hidden="true"'}
              = f.text_field :password, class: 'form-control',  required: true
          .form-group
            = f.label "Номер телефона", class: 'lable-control'
            .input-group
              %span.input-group-addon
                %i.fa.fa-phone{style: 'aria-hidden="true"'}
              = f.telephone_field :phone, data:{ mask: '+7 (999) 999 99 99' },  class: 'form-control', required: true
          .form-group.col-8.mx-auto
            = f.submit 'Зарегистрироваться', class: 'btn btn-info btn-block'
    .row.text-center
      .col-12
        Уже есть аккаунт?
        = link_to 'Войдите', login_path
