.container
  .row
    .col-lg-4.col-12.text-center.my-2
      = image_tag @comp.img.url(:preview), class: 'img-fluid'
    .col-lg-4.col-12.my-2
      .bg-info.text-white.mb-2 Товары в композиции
      %table.table.table-sm
        %tbody#products
          = render @products,  partial: "admin/products/product", locals: {product: @product}
    .col-lg-4.col-12.my-2
      .bg-info.text-white.mb-2 Повод/Кому
      - @comp.tags.each do |tag|
        = tag.name.capitalize
        = link_to admin_remove_tag_path(tag_id: tag.id), method: :put do
          X
      - @comp.receivers.each do |receiver|
        = receiver.title
        = link_to admin_remove_receiver_path(receiver_id: receiver.id), method: :put do
          X

  .row
    .col-md-8.text-right
      .h3.border-top.price
        = @comp.price
  .row.my-5

    .col-12
      %h2 Добавить товары
      = render 'admin/items/add_products'
    .col-6.border-right
      %h3 Повод
      = form_for [:admin, @comp] do |f|
        .form-group
          = f.label :tag_name, 'Выберите из списка'
          = f.select :tag_name, options_for_select(Tag.all.map{|i| [i.name]}.uniq), {}, {class: 'form-control'}
        .form-group
          = f.submit 'Добавить',  class: 'btn btn-info'
      = form_for [:admin, @comp] do |f|
        .form-group
          = f.label :tag_name, 'или создайте свой'
          = f.text_field :tag_name, value: '',class: 'form-control'
        = f.submit 'Добавить', class: 'btn btn-info'
    .col-6
      %h3 Кому
      = form_for [:admin, @comp] do |f|
        .form-group
          =f.label :receiver_title, 'Выберите из списка'
          = f.select :receiver_title, options_for_select(Receiver.all.map{|r| [r.title]}.uniq), {}, {class: 'form-control'}
        .form-group
          = f.submit 'Добавить', class: 'btn btn-info'
      = form_for [:admin, @comp] do |f|
        .form-group
          = f.label :receiver_title, 'или добавьте свой'
          = f.text_field :receiver_title, value: '', class: 'form-control'
        .form-group
          = f.submit 'Добавить', class: 'btn btn-info'
