.container
  .row
    .col-md-4
      = image_tag @comp.img.url(:thumb), class: 'img-responsive', style: 'margin: auto;'
      = link_to 'Обновить цену', admin_update_price_path(@comp), class: 'btn btn-info btn-block'
    .col-md-8
      .row
        .col-md-8
          .h4.bg-brand Товары в композиции
          .items.text-left
            %table.table
              %thead
                %th
                %th
                %th
                  Кол-во
              - @products.each do |product|
                %tr.item{data: {product_id: "#{product.id}"}}
                  %td
                    .popover-img{style: 'display: none;'}
                      = image_tag product.image(:small)
                  %td
                    = link_to admin_product_path(product) do
                      - case product.type.name
                      - when 'латексные шары'
                        = "#{product.size.in_inch.to_i}''(#{product.size.in_cm.to_i}см) #{product.texture.name} #{product.tone.name}"
                      - when 'фольгированные шары'
                        - if product.size
                          = "#{product.size.in_inch.to_i}''(#{product.size.in_cm.to_i}см)"
                        = "#{product.foil_form.name} #{product.tone.name}"
                      - when 'товары для композиций'
                        = "#{product.size.in_inch.to_i}''"
                        = product.name

                  %td
                    = @comp.products.where(id: product.id).count
                  %td
                    = link_to 'Удалить', admin_remove_item_path(@comp, product_id: product.id)
        .col-md-4
          .h4.bg-brand Повод/Кому
          - @comp.tags.each do |tag|
            = tag.name.capitalize
            = link_to admin_remove_tag_path(tag_id: tag.id), method: :put do
              %i.fa.fa-times-circle{style: 'aria-hidden="true"'}
          - @comp.receivers.each do |receiver|
            = receiver.title
            = link_to admin_remove_receiver_path(receiver_id: receiver.id), method: :put do
              %i.fa.fa-times-circle{style: 'aria-hidden="true"'}

      .row
        .col-md-8.text-right
          .h3.border-top
            = @comp.price
  .row
    .col-md-12
      %h2 Добавить параметры
    = render 'admin/items/add_products'
    .col-md-4.border-right
      %h3 Повод
      = form_for [:admin, @comp] do |f|
        .form-group
          = f.label :tag_name, 'Выберите из списка'
          = f.select :tag_name, options_for_select(Tag.all.map{|i| [i.name]}.uniq), {}, {class: 'form-control'}
        .form-group
          = f.submit 'Добавить',  class: 'btn btn-info'
      = form_for [:admin, @comp] do |f|
        .form-group
          = f.label :tag_name, 'или создайте свой'
          = f.text_field :tag_name, value: '',class: 'form-control'
        = f.submit 'Добавить', class: 'btn btn-info'
    .col-md-4
      %h3 Кому
      = form_for [:admin, @comp] do |f|
        .form-group
          =f.label :receiver_title, 'Выберите из списка'
          = f.select :receiver_title, options_for_select(Receiver.all.map{|r| [r.title]}.uniq), {}, {class: 'form-control'}
        .form-group
          = f.submit 'Добавить', class: 'btn btn-info'
      = form_for [:admin, @comp] do |f|
        .form-group
          = f.label :receiver_title, 'или добавьте свой'
          = f.text_field :receiver_title, value: '', class: 'form-control'
        .form-group
          = f.submit 'Добавить', class: 'btn btn-info'
