
.row
  .col-lg-4.col-12.my-2
    = image_tag @comp.img.url(:original), class: 'img-fluid'
    - @comp.tags.each do |tag|
      .badge.badge-info
        = tag.name.capitalize
        = link_to admin_remove_tag_path(tag_id: tag.id), method: :put, title: 'Удалить' do
          %i.fas.fa-times.text-danger
    - @comp.receivers.each do |receiver|
      .badge.badge-info
        = receiver.title
        = link_to admin_remove_receiver_path(receiver_id: receiver.id), method: :put, title: 'Удалить' do
          %i.fas.fa-times.text-danger
    .my-2
      = form_for [:admin, @comp] do |f|
        .form-group
          = f.label :img, 'Новое изображение'
          = f.file_field :img, class: 'form-control form-control-sm'
        .form-group
          = f.submit 'Загрузить', class: 'btn btn-success btn-sm'
  .col-lg-8.col-12.my-2
    .bg-info.text-white.p-2.lead.rounded-top Товары в композиции
    %table.table.card.table-responsive-sm
      %tbody#products
        = render @products,  partial: "admin/products/product", locals: {product: @product}
    .h5.border-top.text-right.text-success
      = @comp.price
      %i.fas.fa-ruble-sign

.row.my-5
  .col-12.border.mb-5.rounded.card.shadow
    %h2 Добавить товары
    = render 'admin/items/add_products'
.row.mb-5.shadow
  .col-6.card
    %h3 Повод
    = form_for [:admin, @comp] do |f|
      .form-group
        = f.label :tag_name, 'Выберите из списка'
        = f.select :tag_name, options_for_select(Tag.all.map{|i| [i.name]}.uniq), {}, {class: 'form-control'}
      .form-group
        = f.submit 'Добавить',  class: 'btn btn-info'
    = form_for [:admin, @comp] do |f|
      .form-group
        = f.label :tag_name, 'или создайте свой'
        = f.text_field :tag_name, value: '',class: 'form-control'
      = f.submit 'Добавить', class: 'btn btn-info'
  .col-6.card
    %h3 Кому
    = form_for [:admin, @comp] do |f|
      .form-group
        = f.label :receiver_title, 'Выберите из списка'
        = f.select :receiver_title, options_for_select(Receiver.all.map{|r| [r.title]}.uniq), {}, {class: 'form-control'}
      .form-group
        = f.submit 'Добавить', class: 'btn btn-info'
    = form_for [:admin, @comp] do |f|
      .form-group
        = f.label :receiver_title, 'или добавьте свой'
        = f.text_field :receiver_title, value: '', class: 'form-control'
      .form-group
        = f.submit 'Добавить', class: 'btn btn-info'
