.container
  .row
    .col-md-4
      = image_tag @comp.img.url(:thumb), class: 'img-responsive', style: 'margin: auto;'
      = link_to 'Обновить цену', admin_update_price_path(@comp), class: 'btn btn-info btn-block'
    .col-md-8
      .row
        .col-md-8
          .h4.bg-brand Товары в композиции
          .items.text-left
            %table.table
              %thead
                %th
                %th
                %th
                  Кол-во
              - @products.each do |product|
                %tr.item{data: {product_id: "#{product.id}"}}
                  %td
                    -if product.item.tone
                      = image_tag product.item.tone.img.url(:small)
                    - else
                      = image_tag product.img.url(:small)
                  %td
                    = link_to do
                      = "#{product.size.in_inch.to_i}'' #{product.item.texture.name} #{product.item.tone.name} " if product.item.texture && product.item.tone
                  %td
                    = @comp.products.where(id: product.id).count
                  %td
                    = link_to admin_remove_item_path(product_id: product.id) do
                      %i.fa.fa-times-circle{style: 'aria-hidden="true"'}
                  %td.popover-img{style: 'display: none;'}
                    = image_tag product.item.tone.img.url(:small) if product.item.tone
        .col-md-4
          .h4.bg-brand Повод/Кому
          - @comp.tags.each do |tag|
            = tag.name.capitalize
            = link_to admin_remove_tag_path(tag_id: tag.id), method: :put do
              %i.fa.fa-times-circle{style: 'aria-hidden="true"'}
          - @comp.receivers.each do |receiver|
            = receiver.title
            = link_to admin_remove_receiver_path(receiver_id: receiver.id), method: :put do
              %i.fa.fa-times-circle{style: 'aria-hidden="true"'}

      .row
        .col-md-8.text-right
          .h3.border-top
            = @comp.price

  .row
    .col-md-12
      .row
        %h2 Добавить параметры
        .col-md-4.border-right
          %h3 Товар
          =form_tag admin_add_item_path do
            .row
              .col-md-8
                .form-group
                  = select_tag :item, grouped_options_for_select(Product.for_select), class: 'form-control'
              .col-md-4
                .form-group
                  = number_field_tag :count,'', class: 'form-control', placeholder: 'Кол-во'
              .col-md-12
                .form-group
                = submit_tag 'Добавить товар', class: 'btn btn-info'
        .col-md-4.border-right
          %h3 Повод
          = form_for [:admin, @comp] do |f|
            .form-group
              = f.label :tag_name, 'Выберите из списка'
              = f.select :tag_name, options_for_select(Tag.all.map{|i| [i.name]}.uniq), {}, {class: 'form-control'}
            .form-group
              = f.submit 'Добавить',  class: 'btn btn-info'
          = form_for [:admin, @comp] do |f|
            .form-group
              = f.label :tag_name, 'или создайте свой'
              = f.text_field :tag_name, value: '',class: 'form-control'
            = f.submit 'Добавить', class: 'btn btn-info'
        .col-md-4
          %h3 Кому
          = form_for [:admin, @comp] do |f|
            .form-group
              =f.label :receiver_title, 'Выберите из списка'
              = f.select :receiver_title, options_for_select(Receiver.all.map{|r| [r.title]}.uniq), {}, {class: 'form-control'}
            .form-group
              = f.submit 'Добавить', class: 'btn btn-info'
          = form_for [:admin, @comp] do |f|
            .form-group
              = f.label :receiver_title, 'или добавьте свой'
              = f.text_field :receiver_title, value: '', class: 'form-control'
            .form-group
              = f.submit 'Добавить', class: 'btn btn-info'
