.row
  .info-header
    .row
      .search-header
        .btn.btn-info#toggle-search-bar
          %span
            %i.fa.fa-filter
          Фильтр
      .main-content-header
.row
  .search-bar
    .thumbnail
      .row
        .bar-header
          .close#close-bar
            %i.fa.fa-times
      %ul.list-unstyled
        %li.border-bot
          Цвета
          %ul.list-unstyled.list-inline#colors
            %li.black{data:{toggle: 'tooltip'}, title: 'чёрный'}
            %li.white{data:{toggle: 'tooltip'}, title: 'белый'}
            %li.red{data:{toggle: 'tooltip'}, title: 'красный'}
            %li.orange{data:{toggle: 'tooltip'}, title: 'оранжевый'}
            %li.yellow{data:{toggle: 'tooltip'}, title: 'желтый'}
            %li.green{data:{toggle: 'tooltip'}, title: 'зеленый'}
            %li.blue{data:{toggle: 'tooltip'}, title: 'голубой'}
            %li.dark-blue{data:{toggle: 'tooltip'}, title: 'синий'}
            %li.violet{data:{toggle: 'tooltip'}, title: 'фиолетовый'}
            %li.fuchia{data:{toggle: 'tooltip'}, title: 'фуксия'}
            %li.pink{data:{toggle: 'tooltip'}, title: 'розовый'}
            %li.brown{data:{toggle: 'tooltip'}, title: 'коричневый'}
            %li.grey{data:{toggle: 'tooltip'}, title: 'серый'}
            %li.golden{data:{toggle: 'tooltip'}, title: 'золотой'}
            %li.silver{data:{toggle: 'tooltip'}, title: 'серебряный'}
        %li.border-bot
          Оттенок
          %ul.list-unstyled
            %li.checkbox
              = check_box_tag :color_past
              %label{for: 'color_past'}
                %span Пастель
            %li.checkbox
              = check_box_tag :color_met
              %label{for: 'color_met'}
                %span Металлик
            %li.checkbox
              = check_box_tag :color_cryst
              %label{for: 'color_cryst'}
                %span Кристал
            %li.checkbox
              = check_box_tag :color_pearl
              %label{for: 'color_pearl'}
                %span Перламутр
            %li.checkbox
              = check_box_tag :color_neon
              %label{for: 'color_neon'}
                %span Неон
        %li.border-bot
          Размеры
          .form-inline.display-table.text-center{style: 'padding-top: 10px;'}
            .display-cell
              %span От
              .form-group
                = number_field_tag :min,'', class: 'form-control input-sm'
              %span до
              .form-group
                = number_field_tag :max,'', class: 'form-control input-sm'
              %span "
          .slider#size-slider

        %li Форма
        %li Коллекция
        %li Праздник
        %li Производитель
        %li Акции
      = link_to '', class: 'btn btn-info btn-block' do
        Показать
        %i.fa.fa-search
      .text-center
        = link_to 'Сбросить'
  .main-content
    = yield
