- breadcrumb :receivers
.container
  %h1.h2.text-center.font-weight-bold
    Воздушные шары для всех с доставкой по #{t "cities.#{@city}.in"}
    .small.text-muted
      Посмотрите готовые оформления на любой праздник
  %hr
  .row.card-columns
    - @menu_receivers.each do |r|
      - cache r do
        .card.mb-5.col-2.border-0
          = link_to receiver_path(r) do
            = image_tag r.image.img(:thumb), class: 'card-img' if r.image
            .card-body.card-img-overlay
              .h3.card-title.text-info.bg-white.p-2
                = r.title.capitalize
