- breadcrumb :receivers
.container
  %h1.h2.text-center.font-weight-bold
    Воздушные шары для всех с доставкой по #{t "cities.#{@city}.in"}
    .small.text-muted
      Посмотрите готовые оформления на любой праздник
  %hr
  .card-columns
    - @menu_receivers.each do |r|
      - cache r do
        = link_to receiver_path(r) do
          .card.mb-5
            - r.set_image
            = image_tag r.image.img(:thumb), class: 'card-img' if r.image
            .card-body.card-img-overlay
              .h2.card-title.text-info.bg-white.p-2
                = r.title.capitalize
