.col-md-4.border-right
  %h4 Латексные шары без рисунка
  = form_tag admin_add_item_path do
    .row
      .col-md-8
        .form-group
          = select_tag :item, grouped_options_for_select(Product.plain_latex_for_select), class: 'form-control'
      .col-md-4
        .form-group
          = number_field_tag :count,'', class: 'form-control', placeholder: 'Кол-во'
      .col-md-12.text-right
        = submit_tag 'Добавить товар', class: 'btn btn-info'
  %h4 Фольгированые шары без рисунка
  = form_tag admin_add_item_path do
    .row
      .col-md-8
        .form-group
          = select_tag :item, grouped_options_for_select(Product.plain_foil_for_select), class: 'form-control'
      .col-md-4
        .form-group
          = number_field_tag :count,'', class: 'form-control', placeholder: 'Кол-во'
      .col-md-12.text-right
        = submit_tag 'Добавить товар', class: 'btn btn-info'
  %h4 Фольгированые шары с рисунком
  = form_tag admin_add_item_path do
    .row
      .col-md-8
        .form-group
          = select_tag :item, grouped_options_for_select(Product.printed_foil_for_select), class: 'form-control'
      .col-md-4
        .form-group
          = number_field_tag :count,'', class: 'form-control', placeholder: 'Кол-во'
      .col-md-12.text-right
        = submit_tag 'Добавить товар', class: 'btn btn-info'
