.row
  - if @products && @product.errors.any?
    = @item.errors.full_messages
  %h2 Добавить товар
  .col-12
    = form_for [:admin, @item] do |f|
      .form-group
        = f.label :name, 'Название'
        = f.text_field :name, class: 'form-control'
      = f.fields_for :products, @item.products.build do |nf|
        = render partial: 'product_fields', locals: {nf: nf}
      .form-group
        = f.label :type_id, 'Тип'
        = f.select :type_id, Type.all.collect{|t| [t.name, t.id]}.reject(&:blank?), { include_blank: false }, class: 'form-control'
      .form-group
        = f.label :category_id, 'Категория'
        = f.select :category_id, Category.all.map{|c| [c.title, c.id]},{}, class: 'form-control'
      .form-group
        = f.label :color_id, "Цвет"
        = f.select :color_id, Color.all.map{|s| [s.name, s.id]}, {include_blank: true}, class: 'form-control'
      .form-group
        = f.label :tone_id, 'Оттенок'
        = f.select :tone_id, Tone.all.map{|s| [s.name + ' / ' + s.code, s.id]}, {include_blank: true}, class: 'form-control'
      .form-group
        = f.label :texture_id, 'Текстура'
        = f.select :texture_id, Texture.all.map{|s| [s.name, s.id]}, {include_blank: true}, class: 'form-control'
      .form-group
        = f.label :foil_form_id, 'Форма'
        = f.select :foil_form_id, FoilForm.all.map{|s| [s.name, s.id]}, {include_blank: true}, class: 'form-control'
      .form-group
        = link_to '#', data: {toggle: 'collapse', target: '#collections'} do
          Коллекции
          %i.fas.fa-angle-down
        .collapse#collections
          = f.label :subcategories, 'Коллекция', class: 'mb-2 w-100'
          = search_field_tag :search
          = f.collection_check_boxes :subcategory_ids, Subcategory.all, :id, :name, class: 'form-control check-boxes' do |b|
            = b.label(class: 'mr-3') { b.check_box + b.text.capitalize }

      .form-group
        = f.submit class: 'btn btn-info', data: {disable_with: 'Сохраняю...'}
