.row
  %h2 Добавить товар
  .col-12
    = form_for [:admin, @item] do |f|
      = f.fields_for :products, @product do |nf|
        = render partial: 'product_fields', locals: {nf: nf}
      .from-group.mt-4
        = f.label :subcategories, 'Коллекция', class: 'mb-2 w-100'
        = search_field_tag :search
        = f.collection_check_boxes :subcategory_ids, Subcategory.all, :id, :name, class: 'form-control check-boxes' do |b|
          = b.label(class: 'mr-3') { b.check_box + b.text.capitalize }

      .form-group
        = f.submit class: 'btn btn-info', data: {disable_with: 'Сохраняю...'}
