.form-group.mt-2
  = nf.label :name, 'Название'
  = nf.text_field :name, class: 'form-control'
.form-group
  = nf.label :size_id, 'Размер'
  = nf.select :size_id, Size.order(:in_inch).all.map{|s| [s.in_inch, s.id]},{}, class: 'form-control'
.form-group
  = nf.label :price, 'Цена'
  = nf.number_field :price, class: 'form-control'
.from-group
  = nf.label :img, 'Фото'
  = nf.file_field :img, class: 'form-control'

