.row.no-gutters
  = render 'items_sidebar'
  .col-10.ml-auto.c-list
    - if @items
      .col-12
        %table.table.table-sm
          %thead
            %th
            %th
              Название
            %th
              Артикул
            %th
              Размер
            %th
              Цена
            %th
              Цена с гелием
            %th
          - @items.each do |item|
            - item.products.order(:size_id).each do |product|
              %tr
                %td.align-middle
                  = image_tag product.img(:small)
                %td.align-middle
                  = product.complex_name
                  .small
                    %strong
                      Тип:
                    = product.item.type.name if item.type
                  .small
                    %strong
                      Категория:
                    = product.item.category.title if item.category
                  .small
                    %strong
                      Текстура:
                    = product.texture.name if product.texture
                  .small
                    %strong
                      Цвет:
                    = product.color.name if product.color
                  .small
                    %strong
                      Оттенок:
                    = product.tone.name + ' / ' + product.tone.code if product.tone
                  .small
                    = item.name
                %td.align-middle
                  = product.code
                %td.align-middle
                  = product.size.in_inch if product.size
                %td.align-middle
                  = product.price
                %td.align-middle
                  = product.price_with_helium
                %td.align-middle
                  = link_to 'Редактировать', edit_admin_product_path(product), target: '_blank', class: 'btn btn-light btn-sm'
                  = link_to 'Удалить', admin_product_path(product), method: :delete, class: 'btn btn-light btn-sm'
      %ul.pag.d-flex.flex-row.list-unstyled.justify-content-between
        = will_paginate @items, container: false
