.container
  .row.border-bot
    .col-md-12
      Поиск
      = form_tag admin_items_path, method: :get do
        .form-group
          = text_field_tag :query, '', class: 'form-control'
        .form-group
          = submit_tag 'Найти', class: 'btn btn-info'
  .row.border-bot
    .col-md-12
      %h5 Цвета
      - Color.all.each do |color|
        = color.name
      %p
        = link_to 'Добавить цвет', new_admin_color_path, class: 'btn btn-info btn-sm'
  .row.border-bot
    .col-md-12
      %h5 Тип продукции
      - Type.all.each do |type|
        = type.name
      %p
        = link_to 'Добавить тип', new_admin_type_path, class: 'btn btn-info btn-sm'
  .row.border-bot
    .col-md-12
      %h5 Текстура
      - Texture.all.each do |texture|
        = texture.name
      %p
        = link_to 'Добавить текстуру', new_admin_texture_path, class: 'btn btn-info btn-sm'
  .row.border-bot
    .col-md-12
      %h5 Оттенок
      - Tone.all.each do |tone|
        = tone.name
      %p
        = link_to 'Добавить оттенок', new_admin_tone_path, class: 'btn btn-info btn-sm'
  .row.border-bot
    .col-md-12
      %h5 Производитель
      - Vendor.all.each do |vendor|
        = vendor.name
      %p
        = link_to 'Добавить производителя', new_admin_vendor_path, class: 'btn btn-info btn-sm'
  .row.border-bot
    .col-md-12
      %h5 Категории
      - Category.all.each do |category|
        = category.title
      %p
        = link_to 'Добавить категорию', new_admin_category_path, class: 'btn btn-info btn-sm'
  .row.border-bot
    .col-md-12
      %h5 Размеры
      - Size.all.each do |size|
        = size.in_inch
      %p
        = link_to 'Добавить размер', new_admin_size_path, class: 'btn btn-info btn-sm'
  .row
    .col-md-12
      = link_to 'Добавить товар', new_admin_item_path, class: 'btn btn-info '
      = button_to 'Удалить товары', admin_destroy_items_path, class: 'btn btn'
  .row
    .col-md-12
      %h2{data: {toggle: 'collapse', target: '#items'}, style: 'cursor: pointer;'}
        Все товары
      -if params[:query]
        = render @items
    - Item.all.includes(:vendor, :texture, :tone, :products, :color, :category, :sizes).each do |item|
      .border-bot
        %h4.text-capitalize
          = item.vendor.name if item.vendor
          = item.texture.name if item.texture
          - if item.tone
            = "#{item.tone.code}/#{item.tone.name}"
            = item.tone.color.name
          - else
            = item.color.name if item.color
          %br
          %small
            = item.type.name
            = link_to 'Редактировать', edit_admin_item_path(item), target: '_blank'
            = link_to 'Удалить', admin_item_path(item), method: :delete
        -if item.products.any?
          %table.table
            %thead
              %th
                Изображение
              %th
                Шрихкод
              %th
                Акртикул
              %th
                Размер
              %th
                Цена
              %th
                Цена с гелием
              %th
                Количество
              %th
                Название
            - item.products.order(:size_id).each do |product|
              %tr
                %td
                  - if item.tone && product.size.belbal != 350
                    = image_tag item.tone.img.url(:small)
                  -else
                    = image_tag product.img.url(:small)
                %td
                  = product.barcode
                %td
                  = product.code
                %td
                  = product.size.in_inch if product.size
                %td
                  = product.price
                %td
                  = product.price_with_helium if product.price_with_helium
                %td
                  = product.quantity
                %td
                  %small
                    = product.name
                    = link_to 'Редактировать', edit_admin_product_path(product), target: '_blank'
                    = link_to 'Удалить', admin_product_path(product), method: :delete
