.container
  .row.border-bot
    .col-12
      Поиск
      = form_tag admin_items_path, method: :get do
        .form-group
          = text_field_tag :q, '', class: 'form-control'
        .form-group
          = submit_tag 'Найти', class: 'btn btn-info'
  .row.border-bot
    .col-12
      %h5{data: {toggle: 'collapse', target: '#colors'}, style: 'cursor: pointer;'}
        Цвета
      .collapse#colors
        - Color.all.each do |color|
          = link_to "#{color.name.capitalize} |",admin_items_path(color: color.id)
        %p
          = link_to 'Добавить цвет', new_admin_color_path, class: 'btn btn-info btn-sm'
  .row.border-bot
    .col-12
      %h5{data: {toggle: 'collapse', target: '#types'}, style: 'cursor: pointer;'}
        Тип продукции
      .collapse#types
        - Type.all.each do |type|
          = link_to "#{type.name.capitalize} |", admin_items_path(type: type.id)
        %p
          = link_to 'Добавить тип', new_admin_type_path, class: 'btn btn-info btn-sm'
  .row.border-bot
    .col-12
      %h5{data: {toggle: 'collapse', target: '#textures'}, style: 'cursor: pointer;'}
        Текстура
      .collapse#textures
        - Texture.all.each do |texture|
          = link_to texture.name.capitalize, admin_items_path(texture: texture.id)
        %p
          = link_to 'Добавить текстуру', new_admin_texture_path, class: 'btn btn-info btn-sm'
  .row.border-bot
    .col-12
      %h5{data: {toggle: 'collapse', target: '#tones'}, style: 'cursor: pointer;'}
        Оттенок
      .collapse#tones
        - Tone.all.each do |tone|
          = link_to tone.name.capitalize, admin_items_path(tone: tone.id)
        %p
          = link_to 'Добавить оттенок', new_admin_tone_path, class: 'btn btn-info btn-sm'
  .row.border-bot
    .col-12
      %h5{data: {toggle: 'collapse', target: '#forms'}, style: 'cursor: pointer;'}
        Форма
      .collapse#forms
        - FoilForm.find_each do |form|
          = link_to form.name.capitalize, admin_items_path(form: form.id)
        %p
          = link_to 'Добавить форму', new_admin_foil_form_path, class: 'btn btn-info btn-sm'
  .row.border-bot
    .col-12
      %h5{data: {toggle: 'collapse', target: '#vendors'}, style: 'cursor: pointer;'}
        Производитель
      .collapse#vendors
        - Vendor.all.each do |vendor|
          = vendor.name
        %p
          = link_to 'Добавить производителя', new_admin_vendor_path, class: 'btn btn-info btn-sm'
  .row.border-bot
    .col-12
      %h5{data: {toggle: 'collapse', target: '#categories'}, style: 'cursor: pointer;'}
        Категории
      .collapse#categories
        - Category.all.each do |category|
          = category.title
        %p
          = link_to 'Добавить категорию', new_admin_category_path, class: 'btn btn-info btn-sm'
  .row.border-bot
    .col-12
      %h5{data: {toggle: 'collapse', target: '#subcategories'}, style: 'cursor: pointer;'}
        Категории
      .collapse#subcategories
        - Subcategory.joins(:products).distinct.each do |category|
          = link_to category.name.capitalize,  admin_items_path(subcategory: category.id)
        %p
          = link_to 'Добавить категорию', new_admin_subcategory_path, class: 'btn btn-info btn-sm'

  .row.border-bot
    .col-12
      %h5{data: {toggle: 'collapse', target: '#sizes'}, style: 'cursor: pointer;'}
        Размеры
      .collapse#sizes
        - Size.all.each do |size|
          = size.in_inch
        %p
          = link_to 'Добавить размер', new_admin_size_path, class: 'btn btn-info btn-sm'
  .row
    .col-12
      = link_to 'Добавить товар', new_admin_item_path, class: 'btn btn-info '
  - if @items
    .row
      .col-12
        %h2{data: {toggle: 'collapse', target: '#items'}, style: 'cursor: pointer;'}
          Все товары
        - @items.all.includes(:vendor, :texture, :tone, :products, :color, :category, :sizes).each do |item|
          .border-bot
            %h4
              = item.vendor.name.capitalize if item.vendor
              = item.texture.name if item.texture
              = item.foil_form.name if item.foil_form
              - if item.tone
                - case item.type.name
                - when 'латексные шары'
                  = "#{item.tone.code}/#{item.tone.name}"
                  = item.tone.color.name
                - when 'фольгированные шары'
                  = item.tone.name
              - else
                = item.color.name if item.color
              %br
              %small
                Каталог:
                = item.name
                %br
                = item.type.name.capitalize
                = item.category.title
                %br
                = link_to 'Редактировать', edit_admin_item_path(item), target: '_blank'
                = link_to 'Удалить', admin_item_path(item), method: :delete
            -if item.products.any?
              %table.table
                %thead
                  %th
                    Изображение
                  %th
                    Шрихкод
                  %th
                    Акртикул
                  %th
                    Размер
                  %th
                    Цена
                  %th
                    Цена с гелием
                  %th
                    Количество
                  %th
                    Название
                - item.products.order(:size_id).each do |product|
                  %tr
                    %td
                      - if item.tone && item.type.name == 'латексные шары'
                        = image_tag item.tone.img.url(:small)
                      -else
                        = image_tag product.img.url(:small)
                    %td
                      = product.barcode
                    %td
                      = product.code
                    %td
                      = product.size.in_inch if product.size
                    %td
                      = product.price
                    %td
                      = product.price_with_helium if product.price_with_helium
                    %td
                      = product.quantity
                    %td
                      %small
                        = product.name
                        = link_to 'Редактировать', edit_admin_product_path(product), target: '_blank'
                        = link_to 'Удалить', admin_product_path(product), method: :delete
    %ul.pag.list-inline
      = will_paginate @items, container: false
