.container
  = image_tag @item.img.url(:thumb)
  %br
  = @item.name
  %br
  Производитель:
  = @item.made_by
  %br
  Цена:
  = @item.price
  руб.
  %br
  Цена с гелием:
  = @item.price_with_helium
  %br
  Коллекция:
  = @item.collection
  %br
  Тип:
  = @item.item_type
  %br
  Цвет
  = @item.color
  %br
  Размер
  = @item.size
  %br
  Минимальная партия:
  = @item.min_order
  = @item.quantity_type
  %br
  = link_to 'Редактировать', edit_admin_item_path(@item), class: 'add-to-cart'
