.business
  .container-fluid
    .row.align-items-center
      %nav.navbar.navbar-expand-md.bg-brand.justify-content-between#business-menu
        %button.navbar-toggler.collapsed.navbar-toggler-right{data: {toggle: 'collapse', target: '#b-menu'}}
          %i.fa.fa-bars
        = link_to root_path, class: 'navbar-brand' do
          = image_tag 'logo-resp.png'
        / .collapse.navbar-collapse#b-menu
        /   %ul.navbar-nav.nav-pills.text-center.align-items-center
        /     %li.nav-item
        /       = link_to 'Оформление входных групп', business_index_path(anchor: 'outdoor'), class: 'nav-link'
        /     %li.nav-item
        /       = link_to 'Корпоративные мероприятия', business_index_path(anchor: 'indoor'), class: 'nav-link'
        /     %li.nav-item
        /       = link_to 'Праздничное оформление', business_index_path(anchor: 'holydays'), class: 'nav-link'
        /     %li.nav-item
        /       = link_to 'Печать на шарах', business_index_path(anchor: 'prints'), class: 'nav-link'
        /     %li.nav-item
        /       = link_to 'Контакты', business_index_path(anchor: 'contacts'), class: 'nav-link'
        .business-call.align-self-center.d-none.d-lg-block
          = button_tag 'Заказать звонок', class: 'btn btn-info', data:{ toggle: 'modal', target: '#call-modal'}
#offer-wrapper
  .jumbotron.jumbotron-fluid#offer.d-flex.align-items-center.jumb-business
    .container
      .row
        .business-offer.w-100.text-center
          %h1
            Профессиональное оформление
            %br
            воздушными шарами для бизнеса
          %p.lead
            Оформим открытие магазина, распродажу, презентацию и любое другое корпоративное мероприятие!
          %hr.my-4
          %p.text-center.hidden-md-down
            Оставьте заявку, мы перезвоним и проконсультируем вас по всем вопросам!
          .lead.text-center.hidden-md-down
            = button_tag 'Оставить заявку', class: 'btn btn-info btn-lg', data:{ toggle: 'modal', target: '#call-modal'}
      .row.justify-content-center.mt-4
        %h2.text-white.text-center
          Наши работы
      .row.justify-content-center.mt-4
        = link_to '#outdoor' do
          %i.fa.fa-angle-double-down.d-block#arr-down

.container
  %h1.text-center#companies
    C нами работают
  .row.justify-content-around.align-items-center
    .slider-company.col-12
      - @partners.each do |p|
        = image_tag p.logo.url(:small), class: 'img-fluid'

.hr#outdoor.my-5
.container-fluid.bg-dark
  .row.py-4
    .col-lg-5.col-sm-12.mt-1
      %h2.text-white Оформление входных групп
      %ul.text-white.lead.mb-5
        %li
          Гирлянда из шаров от 400 руб.\метр
        %li
          Монтаж в подарок*
        %li
          Работа по договору
        %li
          Доставка по Ижевску
      .text-white
        %em Если вы планируете открытие, распродажу или любой другой праздник, то оформление входной группы воздушными шарами гарантировано привлечет внимание  к вашему мероприятию.
      .lead.text-center.text-white.my-5
        Подберем варианты оформления бесплатно!
        = button_tag 'Оставить заявку', class: 'btn btn-info btn-block btn-lg', data:{ toggle: 'modal', target: '#call-modal'}
      %em.text-white
        *При высоте монтажа до 3 метров

    .col-lg-6.col-sm-12.mt-1
      .slider-outdoor
        - @outdoor.each do |o|
          = image_tag o.img.url(:thumb)
.hr.my-5#indoor
.container-fluid
  .row.py-4
    .col-lg-5.col-sm-12.mt-1
      %h2 Оформление воздушными шарами в помещении
      %ul.lead.mb-5
        %li
          Гирлянда из шаров от 400 руб.\метр
        %li
          Монтаж в подарок*
        %li
          Работа по договору
        %li
          Доставка по Ижевску
      %em Если вы планируете открытие, распродажу или любой другой праздник, то оформление входной группы воздушными шарами гарантировано привлечет внимание  к вашему мероприятию.
      .lead.text-center.text-white.my-5
        Подберем варианты оформления бесплатно!
        = button_tag 'Оставить заявку', class: 'btn btn-info btn-block btn-lg', data:{ toggle: 'modal', target: '#call-modal'}
      %em.text-white
        *При высоте монтажа до 3 метров

    .col-lg-6.col-sm-12.mt-1
      .slider-outdoor
        - @indoor.each do |i|
          = image_tag i.img.url(:thumb)
.hr.my-5#indoor
.container-fluid.bg-info
  .row.py-4
    .col-lg-5.col-sm-12.mt-1
      %h2 Печать на воздушных шарах
      %ul.lead.mb-5
        %li
          Гирлянда из шаров от 400 руб.\метр
        %li
          Монтаж в подарок*
        %li
          Работа по договору
        %li
          Доставка по Ижевску
      %em Если вы планируете открытие, распродажу или любой другой праздник, то оформление входной группы воздушными шарами гарантировано привлечет внимание  к вашему мероприятию.
      .lead.text-center.text-white.my-5
        Подберем варианты оформления бесплатно!
        = button_tag 'Оставить заявку', class: 'btn btn-teal btn-block btn-lg', data:{ toggle: 'modal', target: '#call-modal'}
      %em.text-white
        *При высоте монтажа до 3 метров

    .col-lg-6.col-sm-12.mt-1
      .slider-outdoor
        - @print.each do |p|
          = image_tag p.img.url(:thumb)


  .row#indoor
  .row#holidays
  .row#prints
  .row#contacts
.container-fluid#contacts
  = render 'delivery/main/contacts'

= render 'delivery/layouts/call'

