- breadcrumb :business
#business-offer.container-fluid.text-center.justify-content-center
  %h1.col-12.display-4.text-white
    Профессиональное оформление
    воздушными шарами для бизнеса
  %hr.border-white.w-100
  .lead.text-white.mb-3
    Открытие магазина, корпоратив и другие мероприятия
  = link_to 'Оставить заявку', '#', class: 'btn btn-secondary col-10 col-lg-6', data:{ toggle: 'modal', target: '#call-modal'}
  .text-center.mt-3
    %h2.h6.text-white.text-center
      Наши работы
    .text-center
      = link_to business_index_path(anchor: 'out'), class: 'text-white', data: {turbolinks: false} do
        %i.fas.fa-angle-down.fa-2x#arr-down
.container-fluid.c-list#out
  %h2.text-center
    %span
      Мы оформляли
    .row
      - @partners.each do |p|
        = image_tag p.logo(:small)
  %h2.text-center
    %span
      Оформление входных групп
  %h2.text-center
    %span
      Оформление корпоративного мероприятия
  %h2.text-center
    %span Печать на воздушных шарах



  %hr
  = render 'delivery/main/contacts'

= render 'delivery/layouts/call'



/ %table.table.text-center.table-striped.table-hover.table-sm.col-12
/ 	%thead.bg-primary
/ 		%th.text-center Тираж, шт.
/ 		%th.text-center 14" (35см) пастель
/ 		%th.text-center 12" (30см) пастель
/ 		%th.text-center 14"(35см) металлик
/ 		%th.text-center 12"(30см) металлик
/ 	%tbody.text-center
/ 		%tr
/ 			%td 100
/ 			%td 1320 руб.
/ 			%td 1200 руб.
/ 			%td 1380 руб.
/ 			%td 1320 руб.

/ 		%tr
/ 			%td 200
/ 			%td 2560 руб.
/ 			%td 2320 руб.
/ 			%td 2680 руб.
/ 			%td 2560 руб.

/ 		%tr
/ 			%td 300
/ 			%td 3720 руб.
/ 			%td 3360 руб.
/ 			%td 3900 руб.
/ 			%td 3720 руб.
/ 		%tr
/ 			%td 400
/ 			%td 4880 руб.
/ 			%td 4360 руб.
/ 			%td 5040 руб.
/ 			%td 4880 руб.
/ 		%tr
/ 			%td 500
/ 			%td 5850 руб.
/ 			%td 5200 руб.
/ 			%td 6150 руб.
/ 			%td 5850 руб.
/ 		%tr
/ 			%td 1000
/ 			%td 11300 руб.
/ 			%td 10100 руб.
/ 			%td 12000 руб.
/ 			%td 11300 руб.
/ 		%tr
/ 			%td от 2000
/ 			%td 11,00 руб.
/ 			%td 9,70 руб.
/ 			%td 11,50 руб.
/ 			%td 11,00 руб.
/ %ul.text-white.text-left
/ 	%li Срок исполнения заказа: от 2-х до 7 дней, в зависимости от партии, после 100% предоплаты.
/ 	%li Размер запечатываемой области - 135 мм.

/ 	%li Исходный логотип для печати на шарах должен быть предоставлен в кривых, т. е. в формате Corel Draw. Если материал предоставлен в другом формате, в этом случае мы делаем наценку в 300 руб. за допечатную подготовку изображения.

/ 	%li Стоимость сетки-матрицы (станок полуавтомат) - 700 руб.

/ 	%li Нанесение изображения на вторую и последующую стороны при печати на воздушных шарах: + 20% от стоимости, указанной в таблице (см. выше).

/ 	%li При смене краски в одном заказе, общее количество которого не более 500 шт., взимается дополнительная плата 150 руб. за каждую смену краски.
