= form_for @call do |f|
  .form-group
    = f.label :username,  'Как вас зовут?', class: 'text-lavender'
    = f.text_field :username, class: 'form-control', required: true
  .form-group
    = f.label :userphone, 'Ваш телефон', class: 'text-lavender'
    = f.telephone_field :userphone, data:{ mask: '+7 (999) 999 99 99' }, class: 'form-control', required: true
  .form-group
    = f.label :messangers, 'Как лучше с вами связаться?', class: 'text-lavender'
    %br
    .form-check.form-check-inline
      %label
        = f.check_box :messangers, {multiple: true}, 'Позвонить', nil
        Позвонить
    .form-check.form-check-inline
      %label
        = f.check_box :messangers, {multiple: true}, 'Viber', nil
        Viber
    .form-check.form-check-inline
      %label
        = f.check_box :messangers, {multiple: true}, 'WhatsApp', nil
        WhatsApp
    .form-check.form-check-inline
      %label
        = f.check_box :messangers, {multiple: true}, 'Telegram', nil
        Telegram
    = f.hidden_field :url, value: request.original_url
    = f.hidden_field :city, value: @city
    = f.hidden_field :call_type, value: 'Запрос цены'

    = recaptcha_v3(action: 'call', turbolinks: true, nonce: SecureRandom.hex(10), script_async: false, script_defer: false)
  .form-group.text-center
    = submit_tag 'Отправить', class: 'btn btn-success btn-block btn-sm', data:{disable_with: 'Отправляю...'}


