= javascript_include_tag 'application'

= javascript_include_tag 'https://use.fontawesome.com/releases/v5.0.10/js/all.js', async: Rails.env.production?

= javascript_include_tag 'https://api-maps.yandex.ru/2.1/?lang=ru_RU', async: Rails.env.production?

= javascript_include_tag 'https://www.googleadservices.com/pagead/conversion_async.js', async: Rails.env.production?

= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.js', async: Rails.env.production?

= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/vendors/scrolloverflow.min.js', async: Rails.env.production?

= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.css', async: Rails.env.production?
