=form_for [:delivery, @order] do |f|
	=f.label 'Ваше имя'
	= f.text_field :name
	%br
	=f.label 'Контактный телефон'
	= f.text_field :phone
	%br
	=f.label 'Адрес доставки'
	= f.text_area :address, rows: 5
	%br
	=f.label 'Дополнительно'
	= f.text_area :desc, rows: 5
	%br
	= f.submit 'Создать заказа'