.container
  .row
    .col-md-4.col-sm-4.hidden-xs
      = link_to delivery_root_path do
        = image_tag 'form-logo.jpg', class: 'img-responsive pull-right'
    .col-md-8.col-xs-12.col-sm-8
      %h2 Оформление нового заказа
      =form_for [:delivery, @order], html: {class: 'form-horizontal'} do |f|
        .form-group
          .col-sm-10
            =f.label 'Ваше имя', class: 'lable-control'
            .input-group
              %span.input-group-addon
                %i.fa.fa-user{style: 'aria-hidden="true"'}
              = f.text_field :name, value: (current_user.first_name if current_user), class: 'form-control', required: true
        .form-group
          .col-sm-10
            =f.label 'Контактный телефон', class: 'lable-control'
            .input-group
              %span.input-group-addon
                %i.fa.fa-phone{style: 'aria-hidden="true"'}
              = f.text_field :phone, value: (current_user.phone if current_user), data:{ mask: '+7 (999) 999 99 99' }, class: 'form-control', required: true
        .form-group
          .col-sm-10
            = f.label 'Укажите дату и время доставки'
            .row
              .col-md-6.col-xs-6
                .input-group
                  .input-group-addon
                    %i.fa.fa-calendar
                  = f.date_field :order_date, class: 'form-control'
              .col-md-6.col-xs-6
                .input-group.clockpicker{data: {autoclose: true, donetext: 'Готово!', default: 'now', mask: '00:00'}}
                  .input-group-addon
                    %i.fa.fa-clock-o
                  = f.text_field :order_time, class: 'form-control'
        .form-group
          .col-sm-10
            =f.label 'Адрес доставки', class: 'lable-control'
            = f.text_area :address, value: (current_user.address if current_user),  rows: 5, class: 'form-control', required: true
        .form-group
          .col-sm-10
            =f.label 'Дополнительно', class: 'lable-control'
            = f.text_area :desc, rows: 5, class: 'form-control'
        .form-group
          .col-sm-10
            = f.submit 'Создать заказ', class: 'btn btn-info btn-block'
