.form-wrapper.d-flex.align-items-center.justify-content-around
  .container
    .row.text-center
      .col-md-12.col-sm-12.col-xs-12
        %h2 Оформление нового заказа
    .row.align-items-center
      .form-img.hidden-lg-down
        = link_to root_path do
          = image_tag 'logo2.png', class: 'img-fluid'
      .form-container
        =form_for @order, html: {class: 'form-horizontal'} do |f|
          .form-group
            =f.label 'Ваше имя', class: 'lable-control'
            .input-group
              %span.input-group-addon
                %i.fa.fa-user{style: 'aria-hidden="true"'}
              = f.text_field :name, value: (current_user.first_name if current_user), class: 'form-control', required: true
          .form-group
            =f.label 'Контактный телефон', class: 'lable-control'
            .input-group
              %span.input-group-addon
                %i.fa.fa-phone{style: 'aria-hidden="true"'}
              = f.telephone_field :phone, value: (current_user.phone if current_user), data:{ mask: '+7 (999) 999 99 99' }, class: 'form-control', required: true
          .form-group
            = f.label 'Укажите дату и время доставки'
            .row
              .date-field.col-6
                .input-group
                  %span.input-group-addon
                    %i.fa.fa-calendar
                  = f.date_field :order_date, class: 'form-control', required: true, min: Date.today
              .time-field.col-6
                .input-group.clockpicker
                  .input-group-addon
                    %i.fa.fa-clock-o
                  = f.text_field :order_time, value: Time.current.to_s(:time), class: 'form-control', data:{mask: '99:99'}, required: true, readonly: true
            .error
              = show_errors(@order, :order_date)
          .form-group
            .row
              .address-field.col-6
                =f.label 'Адрес доставки', class: 'lable-control'
                = f.text_area :address, value: (current_user.address if current_user),  rows: 3, class: 'form-control', required: true,placeholder: 'Улица, дом, подъезд, квартира, этаж и т.д.'
              .add-field.col-6
                =f.label 'Дополнительно', class: 'lable-control'
                = f.text_area :desc, rows: 3, class: 'form-control', placeholder: 'Информация для курьера (не звонить в домофон и т.д.)'
          .form-group
            = f.label :pay_method, 'Выберите способ оплаты', class: 'lable-control'
            .input-group
              .input-group-addon
                %i.fa.fa-rub
              = f.select :pay_method, options_for_select(Order.pay_methods),{prompt: 'Выберите способ оплаты'}, {class: 'form-control', required: true}
          .form-group
            = f.submit 'Создать заказ', class: 'btn btn-info btn-block', disable_with: 'Оформляю заказ...'
          .text-center
            =link_to 'Назад', my_cart_path
