%h2
  Круглосуточная доставка шариков на дом и оформление воздушными шарами в #{t("cities.#{@city}.where")}
%p
  Ни один праздник не должен обходиться без воздушных шаров! Этой традиции уже сотня лет, и мы не намерены нарушать ее. Какое бы мероприятие вы не запланировали, шарики с гелием отлично впишутся в обстановку, а мы поможем грамотно подобрать оформление из воздушных шаров, подходящее по бюджету и тематике. В своей работе мы испльзуем только самые качественные латексные и фольгированные шары от ведущих мировых производителей, поэтомы вы можете быть уверенны, что наши шарики пролетают очень долго и не причинят никакого вреда ни здоровью, ни вашему интерьеру.

%p
  На сегодняшний день можно заказать абсолютно любые товары и услуги с доставкой на дом, и шарики совсем не исключение. Мы предлагаем вам круглосуточную доставку шаров в #{t("cities.#{@city}.where")}, что особенно важно для сюрприза близкому человеку.
  %br
  У Шариковой феи вы можете дешево заказать воздушные шарики с доставкой, но нужно понимать, что всегда можно найти еще дешевле. Наши цены позволяют нам развиваться и дальше радовать наших клиентов новинками и уникальными композициями. Кроме того, наши постоянные клиенты могут рассчитывать на солидные скидки, а так же приоритетную обработку их заказов.
%p
  %h3
    В нашем интернет-магазине шаров вы можете:
  %ul
    %li
      Посмотреть готовые композиции из воздушных и заказать их на любой повод:
      .list-inline
        -Tag.all.each do |t|
          .list-inline-item= link_to t.name.capitalize, t

    %li
      Заказать воздушные шары с круглосуточной доставкой в любую точку #{t("cities.#{@city}.to")} и региона.
    %li
      Богатый ассортимент #{link_to 'гелиевых шаров', products_path} (как фольгированных, так и латексных) в наличии и под заказ.
    %li
      Уникальные гирлянды из шаров: как классические, так и авторские, различной формы и размера.
    %li
      Для наших постоянных клиентов: всегда низкие цены, приоритетная доставка и наши улыбки!
    %li
      Купить шары с гелием, надутые и ненадутые в любом количестве и цвете.
%p
  Если вы ничего не нашли для себя из готовых оформлений или хотите срочно заказать воздушные шары, вы всегда можете оставить заявку или позвонить нам по телефону. Наши менеджеры с удовольствием подберут для вас уникальное оформление под ваш праздник и проконсультируют по всем #{link_to 'вопросам', faq_path}!
%h2
  Заказать шарики с доставкой в #{t("cities.#{@city}.where")} от Шариковой феи - лучший способ сделать праздник незабываемым!
%p
  Просто посмотрите #{link_to 'примеры готовых оформлений', compositions_path} на нашем сайте, и без сомнений, вы влюбитесь в наши шарики так же, как влюбились мы в свое время!
