.composition
  .card.justify-content-between.align-items-center
    .card-image-top
      = link_to custom_url_path(c) do
        = image_tag c.img(:small), class: 'img-fluid', alt: c.title, data: {lazy: c.img(:small)}
      .line
    .card-footer
      .text-center.d-none.d-lg-block
        Композиция № #{c.id}
      .text-center.small.mt-2
        Цена как
        на фото
      .h4.font-weight-bold.text-center.mb-2
        = c.price.round(0)
        %i.fas.fa-ruble-sign
      .text-center
        = link_to 'Подробнее', custom_url_path(c), class: 'btn btn-info btn-block btn-sm'
