.composition.my-3
  .card.justify-content-around.align-items-center
    .card-image
      - case controller.controller_name
      - when 'receivers'
        = link_to receiver_composition_path(@person, c), class: 'link-to-page' do
          = image_tag c.img(:thumb), class: 'img-fluid'
      - when'tags'
        = link_to tag_composition_path(@tag, c), class: 'link-to-page' do
          = image_tag c.img(:thumb), class: 'img-fluid'
      - when 'main','compositions'
        = link_to composition_path(c), class: 'link-to-page' do
          = image_tag c.img(:thumb), class: 'img-fluid'
      .line

    .card-block.py-2
      .text-center
        - if c.tags.any?
          Воздушные шары на
          %br
          = c.tags.map{ |t| link_to t.name.capitalize, tag_path(t), class: 'text-info' }.join(', ').html_safe
    .row.align-items-center.my-3#price
      - unless @cart.compositions.include?(c)
        .col-6.text-left.pr-0
          .row.align-items-center
            .small.font-weight-bold.col-5.pr-0.text-left
              Цена как
              %br
              на фото
            .h4.col-7.pr-0.pl-2.m-0
              %strong
                = c.price.round(0)
                %i.fa.fa-ruble
        .col-6.text-right
          = link_to 'В корзину', add_to_cart_path(c), class: "btn btn-info btn-block add-to-cart#{c.id}", id: 'ga-add-to-cart', data: {disable_with: 'Добавляем...'}, remote: true, method: :post
      - else
        = link_to 'Перейти в корзину', cart_path(@cart), class: 'btn btn-success btn-block'
