.composition
  .card.justify-content-around.align-items-center
    = link_to composition_path(c), class: 'link-to-page' do
      = image_tag c.img(:thumb), class: 'img-fluid'

    .card-block
      .text-center
        - if c.tags.any?
          Воздушные шары на
          %br
          = c.tags.map{ |t| link_to t.name.capitalize, by_tag_path(t.name) }.join(', ').html_safe
    .card-footer
      - unless @cart.compositions.include?(c)
        .h4.text-center.card-title
          .small
            Цена как на фото
          %strong
            = number_to_currency(c.price, precision: 0)
        = link_to 'Добавить в корзину', add_to_cart_path(c), class: "btn btn-info btn-block add-to-cart#{c.id}", data: {disable_with: 'Добавляем...'}, remote: true, method: :post
      - else
        = link_to 'Перейти в корзину', cart_path(@cart), class: 'btn btn-success btn-block'
