- breadcrumb :about
- cache do
  .container
    %h1.text-center.my-5
      О нас
    %p
      Уже более года наша компания дарит людям праздник, предоставляя возможность заказать недорогие воздушные шары. Они способны поднять настроение любому человеку, уместны практически на каждом мероприятии, создают праздничную и торжественную обстановку.
    %p
      Шары, которые мы используем в своей работе, отличаются отличным качеством, яркостью красок и множеством самых разнообразных оттенков: от ярких, веселых до строгих, холодных. Изготавливаются они из латекса, производимого из наиболее популярного и дорогостоящего материала – мексиканского или колумбийского каучука. Оформив заказ у нас, Вы получите бесплатная оперативную доставку в #{t("cities.#{@city}.where")}, а так же бесплатный дизайн и оформление вашего праздника.
    %p
      Помните, у такого подарка нет возрастных ограничений, он будет приятен всем от мала до велика. Наличие собственных грузовых и легковых автомобилей позволяет выполнить оперативную или даже экстренную доставку воздушных шаров в #{t("cities.#{@city}.where")}.
    %p
      Наши шары гарантированно простоят у вас минимум 3 дня, среднее время полета - 2-3 недели.
    %p
      Также, мы бесплатно оформим для вас композицию под любой праздник и бюджет, из любого бюджета мы всегда выжимаем максимум возможного.
    %p
      Кроме того, у нас вы можете заказать печать на воздушных шарах любого размера, оформление открытия магазина, распродажи или любого другого корпоративного события!
    %p.lead
      По любым вопросам обращаться тел. #{t("cities.#{@city}.phones.mobile")}, с удовольствием вам на все ответим
