
.container-fluid#main-offer.py-5
  .row.my-5.text-center.text-dark#grad
    %h1.text-dark.my-5.w-100.font-weight-bold
      Доставка воздушных шаров и оформление праздников
      %br
      в Ижевске
    .col-sm-12.col-xs-12.my-4.col-md-4
      %i.fa.fa-thumbs-up.fa-5x.my-1
      .h5.text-dark
        Гарантируем минимум 3 дня полета
        .small
          Бесплатно заменим брак в день обращения!
    .col-sm-12.col-xs-12.my-4.col-md-4
      %i.fa.fa-car.fa-5x.my-1
      .h5.text-dark
        Круглосуточная доставка
        .small
          Доставим ваш заказ точно в срок!
    .col-sm-12.col-xs-12.my-4.col-md-4
      %i.fa.fa-birthday-cake.fa-5x.my-1
      .h5.text-dark
        Индивидуальный дизайн
        .small
          Подберем уникальное оформление под ваш праздник!

  .mt-5.mb-2
    = button_tag 'Оставить заявку', class: 'btn btn-lg btn-block btn-secondary col-lg-6 m-auto', data:{ toggle: 'modal', target: '#call-modal'}
  .lead.text-center.text-white
    или посмотрите готовые композиции
    %br
    %i.fa.fa-angle-double-down.fa-2x

.container.text-center.mt-5
  %h1.h3.font-weight-bold.mb-5
    Посмотрите готовые оформления на ваш праздник!
  .row.justify-content-between
    .col-12.text-capitalize.justify-content-between.text-left
      - @menu_tags.each do |tag|
        = link_to tag_path(tag), class: 'btn btn-outline-secondary btn-lg my-3 mx-3' do
          = tag.name
          (#{Composition.availible.with_tag(tag.name).count})

.my-5.py-3.bg-info
  .container.pb-5
    %h1.font-weight-bold.text-center.my-3.text-white
      Популярные композиции
    .row.justify-content-around.compositions
      = render partial: 'thumb_composition', collection: @compositions, as: :c
    .row.text-center
      %h2.h4.col-12.mt-3.text-white
        Ничего не нашли? Посмотрите все композиции!
      .col-12.col-sm-12#help.text-center
        = link_to 'Все наши оформления', compositions_path, class: 'btn btn-success btn-lg btn-block col-lg-6 m-auto'

.container.my-5.py-3
  %h1.text-center.font-weight-bold.mb-5
    Отзывы наших клиентов
  .row.mt-3.justify-content-between
    - @feeds.last(3).each do |feed|
      = render feed
= render 'delivery/feedbacks/get_feedback'


