.container-fluid#main-offer
  .row#grad
    %h1.text-dark.my-5.w-100.font-weight-bold
      Доставка воздушных шаров и оформление праздников
      %br
      в
      = t "cities.#{@city}.where"
    #offer-icon
      %i.fas.fa-thumbs-up.fa-5x.my-1
      .h3.text-dark
        Гарантируем минимум 3 дня полета
        .small
          Бесплатно заменим брак в день обращения!
    #offer-icon
      %i.fas.fa-car.fa-5x.my-1
      .h3.text-dark
        Круглосуточная доставка
        .small
          Доставим ваш заказ точно в срок!
    #offer-icon
      %i.fas.fa-birthday-cake.fa-5x.my-1
      .h3.text-dark
        Индивидуальный дизайн
        .small
          Подберем уникальное оформление под ваш праздник!
  .row.mt-5.mb-2
    = button_tag 'Оставить заявку', class: 'btn btn-lg btn-block btn-secondary col-lg-6 m-auto', data:{ toggle: 'modal', target: '#call-modal'}
  .lead.text-center.text-white
    или посмотрите готовые композиции
    .fa-2x
      %i.fas.fa-angle-double-down.text-secondary



#tag
  .container.py-4
    %h2.font-weight-bold.text-center.mb-4
      Воздушные шары на День рождения
      .small
        Шарики на День рождения наверняка создадут праздничную атмосферу!
    .row.justify-content-around.compositions
      = render partial: 'small_composition', collection: @birthday.limit(8), as: :c
    .row.text-center
      %h2.h4.col-12.mt-3
        и еще более #{@birthday.count} готовых композиций на день рождения!
    .row
      = link_to 'Посмотреть все', tag_path(Tag.find_by(name:'день рождения')), class: 'btn btn-success btn-lg btn-block col-lg-6 m-auto'
#tag
  .container.py-4
    %h2.font-weight-bold.text-center.mb-4
      Воздушные шары на выписку из роддома
      .small
        Встречайте маму и малыша правильно!
    .row.justify-content-around.compositions
      = render partial: 'small_composition', collection: @roddom.limit(8), as: :c
    .row.text-center
      %h2.h4.col-12.mt-3
        и еще более #{@roddom.count} готовых композиций на рождение малыша!
    .row
      = link_to 'Посмотреть все', tag_path(Tag.find_by(name: 'выписку из роддома')), class: 'btn btn-success btn-lg btn-block col-lg-6 m-auto'
#tag
  .container.py-4
    %h2.font-weight-bold.text-center.mb-4
      Воздушные шары для любимых
      .small
        Сделать предложение, оформить романтический ужин или просто признаться в любви!
    .row.justify-content-around.compositions
      = render partial: 'small_composition', collection: @love.limit(8), as: :c
    .row.text-center
      %h2.h4.col-12.mt-3
        и еще более #{@love.count} готовых композиций на рождение малыша!
    .row
      = link_to 'Посмотреть все', tag_path(Tag.find_by(name: '14 февраля')), class: 'btn btn-success btn-lg btn-block col-lg-6 m-auto'
#tag
  .container.py-4
    %h2.font-weight-bold.text-center.mb-4
      Чаще всего заказывают
      .small
        Самые популярные композиции!
    .row.justify-content-around.compositions
      = render partial: 'small_composition', collection: @popular.limit(4), as: :c
    .row.text-center
      %h2.h4.col-12.mt-3
        и еще более #{@popular.count} готовых композиций!
    .row
      = link_to 'Посмотреть все', compositions_path, class: 'btn btn-success btn-lg btn-block col-lg-6 m-auto'
    .lead.mb-2.text-center.my-4
      Другие праздники
    .row.justify-content-around
      - @menu_tags.each do |tag|
        = link_to tag.name, tag_path(tag), class: 'btn btn-sm btn-outline-secondary mx-4 my-2'

.container.py-4
  %h2.text-center.font-weight-bold.mb-4
    Отзывы наших клиентов
  .row.mt-3.justify-content-between
    - @feeds.last(3).each do |feed|
      = render feed
= render 'delivery/feedbacks/get_feedback'
.container.py-4.d-none.d-lg-block
  %h2.text-center.mb-4
    Часто задаваемые вопросы
  .card.my-2
    .card-header.bg-dark
      .lead.text-white
        Почему всем так нравятся шарики?
    %em.card-body.collapse.show
      Это тайна, окутанная мраком. Так уж повелось, что праздник без шаров - не праздник. Попробуйте заказать немного шаров, и вы поймете, почему они сразу поднимают настроение. Словами это не объяснить!
  .card.my-2
    .card-header.bg-dark
      .lead.text-white
        Сколько летают шары с гелием?
    %em.card-body.collapse.show#faq1
      В среднем, шары с гелием без проклейки летают от 3 до 6 часов. Чтобы увеличить вермя полета шариков мы обрабатываем их специальным составом, в этом случае они пролетают от 3 дней. Мы даем гарантию:  если шары сдуются - мы заменим их в день обращения!
  .card.my-2
    .card-header.bg-dark
      .lead.text-white
        У вас есть доставка?
    %em.card-body.collapse.show
      Конечно! Мы привезем воздушные шары в любую точку #{t "cities.#{@city}.to"} в любое время суток!
      Следует знать, что минимальная сумма заказа на доставку шариков - 600 рублей, а бесплатная доставка у нас от 1200 рублей! Кроме того, доставка производится в пределах часа, например с 13:00 до 14:00. Если же вам нужна доставка в точное время (например, в 14:00, не раньше и не позже), то смело прибавляйте к сумме заказа 200 рублей.
  .card.my-2
    .card-header.bg-dark
      .lead.text-white
        Вы оформляете праздники воздушными шарами?
    %em.card-body.collapse.show
      Да, это то, что мы любим и умеем! И более того, услуга по оформлению гелиевыми шарами будет всегда бесплатной для всех наших клиентов!
  .card.my-2
    .card-header.bg-dark
      .lead.text-white
        А шарики и гелий вредны для здоровья?
    %em.card-body.collapse.show
      Если использовать качественные и сертифицированные шары - то ни капельки! Максимум, что может случиться - шарик лопнет. Но кому то даже нравиться это делать, поэтому в любом случае на праздник нужно заказать воздушные шары!
      %br
      Что касается гелия, то он абсолютно безвреден для организма. Никоторые личности специально его вдыхают, чтобы развлечься. Да, мы тоже этим грешили :)
  .card.my-2
    .card-header.bg-dark
      .lead.text-white
        Я заказывал(а) фольгированные шары, они летают, но немного сдулись. Мне их привезти к вам, чтобы снова надуть?
    %em.card-body.collapse.show
      Есть небольшой секрет, как вернуть фольгированные шарики, фигуры и цифры к жизни. Если они летают, значит в них есть еще гелий, поэтому везти и надувать снова совсем необязательно. Берете обычную коктейльную трубочку, находите на шаре клапан и поддуваете ртом. Вуаля, ваш фольгированный шарик как новый!
  .card.my-2
    .card-header.bg-dark
      .lead.text-white
        Я хочу скидку!
    %em.card-body.collapse.show
      Мы рады :) Скидки мы делаем только постоянным клиентам и иногда запускаем интересные акционные предложения. Чтобы ничего не пропустить, подписывайтесь на наши странички в соц. сетях!
      %br
      Если вы ну ооочень хотите скидку, то вы можете приобрести карту постоянного клиента и всегда получать выгодные предложения!
  .card.my-2
    .card-header.bg-dark
      .lead.text-white
        У меня же очень много шаров! Тоже не сделаете скидку?
    %em.card-body.collapse.show
      "Очень много шаров" каждый понимает по своему. Для нас много шаров - это больше 100 штук за раз. Если вам нужно больше 100 воздушных шаров - звоните, договоримся!
%hr
#seo-text.container
  .lead
    Почему мы решили заняться доставкой шариков в  #{t("cities.#{@city}.where")}?
  %p
    Потому что мы очень любим воздушные шары и сами покупали их на каждый праздник! Но насколько тяжело найти магазин с воздушными шарами, в ограниченном выборе найти то, что нужно, а потом загрузить их в машину, или, того хуже, ехать с шарами в общественном транспорте! А еще нужно сделать красивое оформление из этих шариков, что опять вызывало затруднение.
  %p
    Но на тот момент не было ни одной компании, в которой можно было бы заказать шарики с доставкой в #{t("cities.#{@city}.where")}. И мы решили исправить эту ситуацию!
    Мы стали первыми, кто предлагал такую услугу в #{t("cities.#{@city}.where")}. Но мы пошли дальше: не только доставка гелиевых шаров на дом, но и оформление на месте и подбор уникального оформления под каждый праздник.
  %p
    И вот, спустя столько лет мы одни из лучших компаний в этой области! Мы пришли к тому, о чем мечтали! Сейчас мы предлагаем богатый выбор услуг и товаров для наших клиентов:
    %ul
      %li
        Подбор уникального оформления из воздушных шаров под любой праздник: день рождения, выписка, юбилей, свадьба.
      %li
        Доставка шариков на дом в #{t("cities.#{@city}.where")} и регионе.
      %li
        Богатый выбор фольгированных и латексных шаров: как с гелием, так и без. От самых маленьких до больших, просто огромных метровых шаров.
      %li
        Уникальные гирлянды из шариков: как классические, так и авторские различной формы и размера.
      %li
        Для наших постоянных клиентов: всегда низкие цены, приоритетная доставка и наши улыбки
  %p
    Теперь, чтобы заказать надувные шары на дом не нужно долго искать или везти их из ближайшего торгового центра. Достаточно обратиться к Шариковой фее, и мы возьмем на себя всю магию! Для заказа вам нужно просто позвонить нам по тел. #{t("cities.#{@city}.phones.tel_long")}, или выбрать композицию в нашем интернет-магазине и оформить заказ. Мы гарантируем доставку точно в срок и качественные шарики от лучших мировых производителей!
  %p
    Если вы все еще сомневаетесь, стоит ли заказывать оформление шарами, просто посмотрите готовые композиции на нашем сайте, и без сомнений, вы влюбитесь в наши шарики так же, как влюбились мы в свое время!
