#main-offer.container-fluid.text-center.justify-content-center
  %h1.col-12.display-4.text-white
    Доставка воздушных шаров и оформление праздников
    в
    = t "cities.#{@city}.where"
  %hr.bg-white.w-100
  .lead.mb-2.text-white
    Бесплатно подберем уникальное оформление из воздушных шаров под ваш праздник!
  .row.w-100.mt-3.justify-content-center
    .col-12.col-lg-6
      = button_tag 'Оставить заявку на подбор', class: 'btn btn-block mx-auto btn-secondary', data:{ toggle: 'modal', target: '#call-modal'}
      .row.mt-3
        .col-12.col-lg-6
          = link_to 'Выбрать из готовых композиций', tags_path, class: 'btn btn-light btn-block btn-sm'
        .col-12.col-lg-6.mt-3.mt-lg-0
          = link_to 'Собрать свою композицию', products_path, class: 'btn btn-light btn-block btn-sm'
.main-line
.container.mb-5
  %h2.my-4.text-center.text-uppercase.font-weight-bold.h4
    Посмотрите готовые оформления на ваш праздник
  .row.text-center
    .col.my-2
      = link_to '/events/den-rozhdeniya', class: 'text-center' do
        = image_tag 'svg/cake.svg', size: '100x100'
        %br
        Шарики на День рождения
    .col.my-2
      = link_to '/events/vypisku-iz-roddoma' do
        = image_tag 'svg/baby.svg', size: '100x100'
        %br
        Шарики на выписку
    .col.my-2
      = link_to '/events/den-svyatogo-valentina' do
        = image_tag 'svg/heart.svg', size: '100x100'
        %br
        Шарики для влюбленных
    .col.my-2
      = link_to '/events/svadba' do
        = image_tag 'svg/wedding.svg', size: '100x100'
        %br
        Шарики на свадьбу
  .row.my-4.text-center.align-items-center
    .col.my-2
      = link_to '/persons/synu', class: 'text-center' do
        = image_tag 'svg/boy.svg', size: '100x100'
        %br
        Шарики для мальчика
    .col.my-2
      = link_to '/persons/dochke', class: 'text-center' do
        = image_tag 'svg/girl.svg', size: '100x100'
        %br
        Шарики для девочки
    .col.my-2
      = link_to '/events', class: 'text-center' do
        %i.fas.fa-arrow-right.fa-3x.text-success
        %br
        посмотреть все композиции
%hr
.container
  %h2.my-4.text-center.text-uppercase.font-weight-bold.h4
    Или выберите воздушные шары из нашего каталога
  .row.align-items-center
    = render partial: 'delivery/categories/category_with_image', collection:  @categories, as: :category
    .col-6.col-lg-3.mb-3.text-center
      = link_to categories_path do
        %i.fas.fa-arrow-right.fa-3x.text-success
        %br
        все категории
  -#.row.justify-content-around.compositions.text-center#popular
  -#  = render partial: 'delivery/main/thumb_composition', collection: @compositions, as: :c, cached: true
%hr