.container-fluid#main-offer
  .row#grad
    %h1.text-dark.mt-5.mb-4.col-12.font-weight-bold
      Доставка воздушных шаров и оформление праздников
      %br
      в
      = t "cities.#{@city}.where"
      %u
        = link_to  '#', data:{ toggle: 'modal', target: '#city'}, class: 'text-danger text-uppercase' do
          %i.fas.fa-map-marker-alt
          Другой город?
    .col-12.text-center

    #offer-icon
      %i.fas.fa-thumbs-up.fa-5x.my-1
      .h3.text-dark
        Гарантируем минимум 3 дня полета
        .small
          Бесплатно заменим брак в день обращения!
    #offer-icon
      %i.fas.fa-car.fa-5x.my-1
      .h3.text-dark
        Круглосуточная доставка
        .small
          Доставим ваш заказ точно в срок!
    #offer-icon
      %i.fas.fa-birthday-cake.fa-5x.my-1
      .h3.text-dark
        Индивидуальный дизайн
        .small
          Подберем уникальное оформление под ваш праздник!
  .row.mt-5.mb-2
    = button_tag 'Оставить заявку', class: 'btn btn-lg btn-block btn-secondary col-lg-6 m-auto', data:{ toggle: 'modal', target: '#call-modal'}
  .lead.text-center.text-white
    или посмотрите готовые композиции
    .fa-2x
      %i.fas.fa-angle-double-down.text-secondary



#tag
  .container.py-4
    %h2.font-weight-bold.text-center.mb-4
      Воздушные шары на День рождения
      .small
        Шарики на День рождения наверняка создадут праздничную атмосферу!
    .row.justify-content-around.compositions.slider-comp.text-center
      = render partial: 'small_composition', collection: @birthday.limit(8), as: :c
    .row.text-center
      %h2.h4.col-12.mt-3
        и еще более #{@birthday.count} готовых композиций на день рождения!
    .row
      = link_to 'Посмотреть все', tag_path(Tag.find_by(name:'день рождения')), class: 'btn btn-success btn-lg btn-block col-lg-6 m-auto'
#tag
  .container.py-4
    %h2.font-weight-bold.text-center.mb-4
      Воздушные шары на выписку из роддома
      .small
        Встречайте маму и малыша правильно!
    .row.justify-content-around.compositions.slider-comp.text-center
      = render partial: 'small_composition', collection: @roddom.limit(8), as: :c
    .row.text-center
      %h2.h4.col-12.mt-3
        и еще более #{@roddom.count} готовых композиций на рождение малыша!
    .row
      = link_to 'Посмотреть все', tag_path(Tag.find_by(name: 'выписку из роддома')), class: 'btn btn-success btn-lg btn-block col-lg-6 m-auto'
#tag
  .container.py-4
    %h2.font-weight-bold.text-center.mb-4
      Воздушные шары для любимых
      .small
        Сделать предложение, оформить романтический ужин или просто признаться в любви!
    .row.justify-content-around.compositions.slider-comp.text-center
      = render partial: 'small_composition', collection: @love.limit(8), as: :c
    .row.text-center
      %h2.h4.col-12.mt-3
        и еще более #{@love.count} готовых композиций на рождение малыша!
    .row
      = link_to 'Посмотреть все', tag_path(Tag.find_by(name: '14 февраля')), class: 'btn btn-success btn-lg btn-block col-lg-6 m-auto'
#tag
  .container.py-4
    .h2.font-weight-bold.text-center.mb-4
      Чаще всего заказывают
      .small
        Самые популярные композиции!
    .row.justify-content-around.compositions.slider-comp.text-center
      = render partial: 'small_composition', collection: @popular.limit(4), as: :c
    .row.text-center
      .h4.col-12.mt-3
        и еще более #{@popular.count} готовых композиций!
    .row
      = link_to 'Посмотреть все', compositions_path, class: 'btn btn-success btn-lg btn-block col-lg-6 m-auto'
    .lead.mb-2.text-center.my-4
      Другие праздники
    .row.justify-content-around
      - @menu_tags.each do |tag|
        = link_to tag.name, tag_path(tag), class: 'btn btn-sm btn-outline-secondary mx-4 my-2'

.container.py-4
  %h2.text-center.font-weight-bold.mb-4
    Отзывы наших клиентов
  .row.mt-3.justify-content-between
    - @feeds.last(3).each do |feed|
      = render feed
= render 'delivery/feedbacks/get_feedback'
%hr
#seo-text.container
  %h2.h3
    Круглосуточная доставка на дом и оформление воздушными шарами в #{t("cities.#{@city}.where")}
  %p
    .lead
      Немного о нас или почему мы этим занимаемся
    Потому что мы очень любим воздушные шары и сами покупали их на каждый праздник! Но насколько тяжело найти магазин с шариками, в ограниченном выборе найти то, что нужно, а потом загрузить их в машину, или, того хуже, ехать с ними в общественном транспорте! А еще нужно сделать красивое оформление, что опять вызывало затруднение.
  %p
    Но на тот момент не было ни одной компании, в которой можно было бы заказать шары с гелием в #{t("cities.#{@city}.where")}, да еще и недорого. И мы решили исправить эту ситуацию!
    Мы стали первыми, кто предлагал такую услугу!
    %br
    Но мы пошли дальше: не только круглосуточная доставка гелиевых шаров на дом, но и оформление на месте и подбор уникального оформления под каждый праздник.
  %p
    И вот, спустя столько лет мы одни из лучших компаний в этой области! Мы пришли к тому, о чем мечтали!
  %p
    .lead
      В нашем интернет-магазине вы можете:
    %ul
      %li
        Посмотреть готовые композиции из воздушных и заказать их на любой праздник: #{link_to 'день рождения', tag_path(Tag.find_by(name:'день рождения')) }, #{link_to 'выписку из роддома', tag_path(Tag.find_by(name:'выписку из роддома')) }, #{link_to 'юбилей', tag_path(Tag.find_by(name:'юбилей')) }.
      %li
        Заказать воздушные шары с круглосуточной доставкой в любую точку #{t("cities.#{@city}.to")} и региона.
      %li
        Богатый ассортимент фольгированных и латексных шаров в наличии и под заказ.
      %li
        Уникальные гирлянды из шариков: как классические, так и авторские, различной формы и размера.
      %li
        Для наших постоянных клиентов: всегда низкие цены, приоритетная доставка и наши улыбки!
      %li
        Купить надутые или ненадутые шарики в любом количестве и цвете.
  %p
    Если вы ничего не нашли для себя из готовых оформлений или хотите срочно заказать воздушные шары, вы всегда можете оставить заявку или позвонить нам по телефону. Наши менеджеры с удовольствием подберут для вас уникальное оформление под ваш праздник и проконсультируют по всем #{link_to 'вопросам', faq_path}!
  %p
    Если вы все еще сомневаетесь, стоит ли заказать оформление воздушными шарами у Шариковой феи, просто посмотрите #{link_to 'примеры готовых оформлений', compositions_path} на нашем сайте, и без сомнений, вы влюбитесь в наши шарики так же, как влюбились мы в свое время!
