.container-fluid
  .container
    %h2.text-center Лучшие композиции
    .row
      - @compositions.each do |c|
        .col-md-4.col-sm-6.col-xs-12
          .thumbnail
            = link_to '#', data:{ toggle: 'modal', target: "#composition#{c.id}"} do
              = image_tag c.img.url(:thumb), class: 'img-responsive', style: 'height: 100%; object-fit: contain;'
            %h3.text-center
              %strong
                = number_to_currency(c.price, precision: 0)
            %p.text-center{style: 'height: 4em;'}
              %strong Теги:
              %br
              - if c.tags.any?
                - c.tags.each do |tag|
                  = tag.name
              - else
                Нет тегов!
            .text-center
              - unless @cart.compositions.include?(c)
                = button_to 'Добавить в корзину', delivery_add_to_cart_path(c), class: "btn btn-info btn-block add-to-cart#{c.id}", data: {disable_with: 'Добавляем...'}, remote: true
              - else
                .btn.btn-success.btn-block{disabled: true}
                  Добавлено в корзину

        .modal.fade{id: "composition#{c.id}",  tabindex: "-1",  role: "dialog"}
          .modal-dialog{role: "document", style: 'float: center; width: 90%; margin: auto;'}
            .modal-content
              .modal-header
                %button{type: "button",  class: "close",  data: {dismiss: "modal"}}
                  %span
                    &times;
                .h3.modal-title{id: "myModalLabel"}
                  Композиция №#{c.id}
                  %br
                  %small
                    Вы сможете изменить состав композиции и количество шаров просто добавив ее в корзину!
              .modal-body
                = render partial: 'delivery/layouts/composition', locals: {c: c}
              .modal-footer
                - unless @cart.compositions.include?(c)
                  = button_to 'Добавить в корзину', delivery_add_to_cart_path(c), class: "btn btn-info add-to-cart#{c.id}", data: {disable_with: 'Добавляем...'}, remote: true
                - else
                  .btn.btn-success{disabled: true}
                    Добавлено в корзину
