.container-fluid#main-offer
  .row.text-center.align-items-center.justify-content-center
    %h1.col-12.font-weight-bold.display-5.mb-5
      Доставка воздушных шаров и оформление праздников
      в
      = t "cities.#{@city}.where"
    -#.text-center
    -#  .display-4.d-lg-none.font-weight-bold.text-dark
    -#    = link_to '234-084', 'tel: +73412234084'
    -#.col-lg-4.col-sm-12
    -#  = link_to 'Праздники', tags_path, class: 'btn text-uppercase btn-info btn-block'
    -#.col-lg-4.col-sm-12
    -#  = link_to 'Кому', receivers_path, class: 'btn text-uppercase btn-info btn-block'
    -#.col-lg-4.col-sm-12
    -#  = link_to 'Составить свою композицию', products_path, class: 'btn text-uppercase btn-info btn-block'
    .col-lg-6.col-sm-10.lead.text-center.mt-5
      .h4.text-secondary
        Бесплатно подберем уникальное оформление под ваш праздник!
      = button_tag 'Оставить заявку', class: 'btn btn-block btn-lg btn-secondary', data:{ toggle: 'modal', target: '#call-modal'}
      %br
      %i.fas.fa-angle-double-down.text-secondary.fa-2x
- if @tag
  #tag
    .container.py-4
      %h2.font-weight-bold.text-center.mb-4
        Воздушные шары на День рождения
        .small
          Шарики на День рождения наверняка создадут праздничную атмосферу!
      .row.justify-content-around.compositions.slider-comp.text-center
        = render partial: 'small_composition', collection: @birthday, as: :c
      .row.text-center
        %h2.h4.col-12.mt-3
          и еще больше готовых композиций на день рождения!
      .row
        = link_to 'Посмотреть все', tag_path(@tag), class: 'btn btn-success btn-lg btn-block col-lg-6 m-auto'
  %hr
  .h1.text-center
    Бесплатная доставка по Ижевску от 1500
    %i.fas.fa-ruble-sign
  %hr
.container-fluid.py-4.bg-info
  %h2.h3.font-weight-bold.text-center.text-white
    Вы можете заказать шарики с доставкой на любой праздник!
    .small
      Посмотрите готовые композиции из воздушных шаров
  .container
    .row.text-center.justify-content-around.mt-4
      = link_to 'Праздники', tags_path, class: 'btn btn-lg col-lg-5 text-uppercase btn-outline-light my-2'
      = link_to 'Кому', receivers_path, class: 'btn btn-lg col-lg-5 text-uppercase btn-outline-light my-2'
      .h5.text-center.text-white.mt-3.col-12
        или составьте свою композицию
      = link_to 'По цветам и тематике', products_path, class: 'btn btn-lg col-lg-5 text-uppercase btn-light my-2 text-info'


%hr
.container.py-4
  %h2.text-center.font-weight-bold.mb-4
    Отзывы наших клиентов
  .row.mt-3.justify-content-between
    - @feeds.last(3).each do |feed|
      = render feed
