= render 'delivery/layouts/header'
= render 'delivery/layouts/offer'
.container-fluid.mt-4
  %h2.text-center
    Примеры наших оформлений
    .small
      Более 1000 клиентов доверили нам оформление своих праздников
  .row
    .slider
      - @compositions.each do |c|
        = image_tag c.img(:thumb)
.container.mt-4
  .row.align-items-center
    .lead.col-7
      Вы можете выбрать более чем из 300 готовых композиций для Вашего праздника!
    .col-5
      = link_to 'В каталог', root_path, class: 'btn btn-secondary btn-lg'
.container-fluid.mt-4.bg-grey.hidden-lg-down
  .row.line-inverse
  #screen2
    %h2.text-center.text-white.display-5
      %strong
        Почему
        %br
        мы?
    .row
      .col-5.pr-5
        %ul.list-unstyled.text-right
          %li.mb-5
            %i.fa.fa-calendar.fa-2x
            %br
            %strong
              Доступность:
            %p
              в любой день недели и в любое время суток.
              %br
              Мы работаем всегда.
          %li.mb-5
            %i.fa.fa-certificate.fa-2x
            %br
            %strong
              Профессионализм:
            %p
              у нас в штате профессиональные оформители и аэродизайнеры с дипломами.
          %li.mb-5
            %i.fa.fa-briefcase.fa-2x
            %br
            %strong
              Серьезность:
            %p
              для нас это не хобби и не развлечение, а полноценная работа, за которую мы отвечаем деньгами и репутацией.
      .col-2
      .col-5.pl-5
        %ul.list-unstyled.text-left
          %li.mt-5
            %i.fa.fa-tachometer.fa-2x
            %br
            %strong
              Скорость:
            %p
              от заявки до готового оформления
              %br
              в среднем 2 часа.
          %li.mt-5
            %i.fa.fa-diamond.fa-2x
            %br
            %strong
              Уникальность:
            %p
              мы постоянно в поиске уникальных и инновационных дизайнерских решений и не боимся применять их на практике.
          %li.mt-5
            %i.fa.fa-percent.fa-2x
            %br
            %strong
              Выгода:
            %p
              для всех наших постоянных клиентов у нас специальная скидка и приятные подарки.
  .row.line
.container-fluid.my-5
  %h2.text-center
    Отзывы наших клиентов
  = render 'delivery/layouts/lp_insta'

.container-fluid.my-4.bg-brown
  .line-inverse
  .container
    %h2.text-center.mt-3.mb-5.display-5
      Гарантии
    .row
      .col-6
        %h3
          Качество
        %P.text-justify
          Если наши шары продержаться менее 3 дней, то мы привезем новые за свой счет. Если вам попался бракованный шар, то мы его обменяем в тот же день.
      .col-6
        %h3
          Красота
        %p.text-justify
          В отличии от других, мы не стараемся объять все направления, связанные с праздниками (цветы, подарки, кенди-бары). Мы целенаправленно развиваемся в одном направлении, что позволяет нам всегда быть в курсе последних трендов аэродизайна и инноваций.
    .row.text-center
      .col-12.my-4
        = button_tag 'Оставить заявку', class: 'btn btn-secondary btn-lg strong', data:{ toggle: 'modal', target: '#call-modal'}
  .line
= render 'delivery/main/contacts'
= render 'delivery/layouts/call'
