= render 'delivery/layouts/lp_header'
.container-fluid
  = render 'delivery/layouts/offer'
  %h1.text-center.mt-3#examples Примеры наших оформлений
  .row
    .col-12.bg-inverse.text-white.p-3
      .slider-for.d-flex.align-items-end
        - Composition.availible.limit(10).each do |c|
          .slider-img.bg-inverse.text-white.d-flex.align-items-end.justify-content-center
            = image_tag c.img.url(:preview), class: 'img-fluid'
      .slider-nav.d-flex.align-items-center
        - Composition.availible.limit(10).each do |c|
          .slider-img-small.p-2
            = image_tag c.img.url(:small), class: 'img-fluid'
      .mt-4.text-center
        = link_to 'Больше наших работ', root_path, class: 'btn btn-info btn-lg'
  #recommends
    %h1.text-center.mt-5
      Отзывы о наc
.container
  .row
    #insta-slider.col-12.p-0
      .insta.card.text-center
        <iframe src="https://www.instagram.com/p/BInfQNtBejD/embed/captioned" width="320" height="550" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
      .insta.card.text-center
        <iframe src="https://www.instagram.com/p/BDldnaSrNiv/embed/captioned" width="320" height="550" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
      .insta.card.text-center
        <iframe src="https://www.instagram.com/p/BJR3M4ZAO5h/embed/captioned" width="320" height="500" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
      .insta.card.text-center
        <iframe src="https://www.instagram.com/p/BIuPso8BgZI/embed/captioned" width="320" height="500" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
      .insta.card.text-center
        <iframe src="https://www.instagram.com/p/BMJGVt8DyXd/embed/captioned" width="320" height="500" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
      .insta.card.text-center
        <iframe src="https://www.instagram.com/p/BMLqxG0Bly3/embed/captioned" width="320" height="500" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
  .mt-4
    = button_tag 'Оставить заявку', class: 'btn btn-success btn-lg btn-block', data:{ toggle: 'modal', target: '#call-modal'}

= render 'delivery/main/contacts'
= render 'delivery/layouts/call'
