.container-fluid
  .container
    %h2.text-center Оформление воздушными шарами на #{params[:tag_name]}
    .row
      - @compositions.each do |c|
        .col-md-4.col-sm-6.col-xs-12
          .thumbnail
            = link_to delivery_composition_path(c) do
              = image_tag c.img.url(:thumb), class: 'img-responsive', style: 'height: 100%; object-fit: contain;'
            %h3.text-center
              = number_to_currency(c.price, precision: 0)
              %i.fa.fa-rub{style: 'aria-hidden="true"'}

            %p.text-center{style: 'height: 4em;'}
              %strong Теги:
              %br
              - if c.tags.any?
                - c.tags.each do |tag|
                  = tag.name
              - else
                Нет тегов!
            %p.text-center
              %small
                Добавьте композицию в корзину, чтобы изменить количество шаров
            .text-center
              - unless @cart.compositions.include?(c)
                = button_to 'Добавить в корзину', delivery_add_to_cart_path(c), class: "btn btn-info btn-block add-to-cart#{c.id}", data: {disable_with: 'Добавляем...'}, remote: true
              - else
                .btn.btn-success.btn-block{disabled: true}
                  Добавлено в корзину
