.container-fluid
  .container
    %h2.text-center Оформление воздушными шарами на #{params[:tag_name]}
    .row
      - @compositions.each do |c|
        .col-md-4
          .thumbnail
            = link_to delivery_composition_path(c) do
              = image_tag c.img.url(:thumb)
            %h3= c.price
            %p.text-center Добавьте композицию в корзину, чтобы изменить количество шаров
            %p.text-center
              = button_to 'Добавить в корзину', delivery_add_to_cart_path(c), class: 'btn btn-info btn-block', data: {disable_with: 'Добавляем...'}

