.container
  %h2
    Заказы
  %table.table.text-center
    %thead.text-center
      %th.text-center
        №
      %th.text-center
        Заказчик
      %th.text-center
        Сумма
      %th.text-center
        Дата доставки
      %th.text-center
        Дата заказа
      %th.text-center
        Город
    - @orders.each do |order|
      %tr.text-center
        %td
          %strong
            = order.id
        %td
          = order.name
        %td
          = number_to_currency(order.total)
        %td
          = Russian::strftime(order.order_date.in_time_zone, ' %d %B в %H:%M')
        %td
          = Russian::strftime(order.created_at.in_time_zone, ' %d %B')
        %td
          = t("cities.#{order.city}.base") if order.city
          .small
            = link_to 'Подробнее', admin_order_path(order)
          / = link_to 'Удалить', admin_order_path(order), method: :delete
  .border-bot
  .text-right.lead
    Всего:
    = number_to_currency(@orders.map{|i| i.total}.sum)
