.container
  %h2 Заказы
  %table.table
    %thead
      %th
        №
      %th
        Заказчик
      %th
        Сумма
      %th
        Дата доставки
      %th
    - @orders.order(:order_date).each do |order|
      %tr
        %td
          %strong
            = order.id
        %td
          %span.hidden-xs
            = order.name
            |
          = order.phone
        %td
          = number_to_currency(order.total)
        %td
          = Russian::strftime(order.order_date.in_time_zone, ' %d %B в %H:%M')
        %td
          = link_to 'Подробнее', admin_order_path(order)
          / = link_to 'Удалить', admin_order_path(order), method: :delete

