.container
  %h1.my-3.text-center Информация о заказе
  - if @order.positions.any?
    .row.order-info
      .col-12.card.pb-4
        .h3.mt-4.border-bot Информация для доставки
        .row
          .col-6
            Заказчик:
          .col-6
            = @order.name
        .row
          .col-6
            Телефон:
          .col-6
            = @order.phone
        .row
          .col-6
            Адрес доставки:
          .col-6
            = @order.address
        .row
          .col-6
            Дата доставки:
          .col-6
            = Russian::strftime(@order.order_date.in_time_zone, ' %d %B в %H:%M')
        .row
          .col-6
            Примечание:
          .col-6
            = @order.desc
        .row
          .col-6
            Метод оплаты:
          .col-6
            = @order.pay_method
        .row
          .col-6
            Сумма заказа:
          .col-6
            = number_to_currency(@order.total)
    - @order.positions.each do |position|
      .row.my-5
        .col-4.text-center
          = image_tag position.composition.img(:thumb), class: 'img-fluid'
        .col-8
          .h3.mt-4 Состав заказа
          %table.table
            - position.subpositions.each do |s|
              %tr.text-center
                %td
                  = image_tag s.product.image(:small), class: 'img-fluid'
                %td
                  %strong
                    = s.product.name
                %td
                  = s.quantity
                  шт.
  - else
    Ничего нет
