.row.align-items-center.cart-subposition{id: "#{subposition.id}"}
  - product = subposition.product
  .product-name.item{data: {product_id: "#{subposition.product.id}"}}
    %span{style: 'cursor: pointer;'}
      = product.complex_name
    .popover-img{style: 'display: none;'}
      = image_tag product.image(:small)
  .product-quantity
    = form_for subposition, class: 'form-inline', remote: true do |f|
      .input-group
        .input-group-addon
          = link_to add_quantity_path(subposition), method: :post, remote: true, class: "sub-#{subposition.id}" do
            %i.fa.fa-plus
        = f.number_field :quantity, class: 'form-control form-control-sm text-center'
        .input-group-addon
          = link_to down_quantity_path(subposition), method: :post, remote: true, class: "sub-#{subposition.id}" do
            %i.fa.fa-minus
  .remove-subposition.text-center
    = link_to subposition_path(subposition), method: :delete, remote: true do
      %i.fa.fa-times
