%tr.hidden-xs{id: "#{subposition.id}"}
  %td.item{style: 'width: 55%;', data: {item_id: "#{subposition.item.id}"}}
    %span{style: 'cursor: pointer;'}= subposition.item.name
    .popover-img{style: 'display: none;'}
      = image_tag subposition.item.img.url(:small)
  %td{style: 'width: 35%;'}
    = form_for subposition, class: 'form-inline', remote: true do |f|
      .input-group
        .input-group-addon
          = link_to add_quantity_path(subposition), method: :post, remote: true, class: "sub-#{subposition.id}" do
            %i.fa.fa-plus
        = f.number_field :quantity, class: 'form-control input-sm'
        .input-group-addon
          = link_to down_quantity_path(subposition), method: :post, remote: true, class: "sub-#{subposition.id}" do
            %i.fa.fa-minus
  %td.text-center.hidden-xs
    =link_to subposition_path(subposition), method: :delete, remote: true do
      %i.fa.fa-times



%tr
  %td.item{data: {item_id: "#{subposition.item.id}"}}
    %span= subposition.item.name
    .popover-img{style: 'display: none;'}
      = image_tag subposition.item.img.url(:small)
  %td.text-center{style: 'font-size: 1.5em;'}
    =link_to subposition_path(subposition), method: :delete, remote: true do
      %i.fa.fa-times
%tr
  %td.text-center
    = form_for subposition, remote: true do |f|
      .input-group
        .input-group-addon
          = link_to add_quantity_path(subposition), method: :post, remote: true, class: "sub-#{subposition.id}" do
            %i.fa.fa-plus
        = f.number_field :quantity, class: 'form-control', style: 'text-align: center;'
        .input-group-addon
          = link_to down_quantity_path(subposition), method: :post, remote: true, class: "sub-#{subposition.id}" do
            %i.fa.fa-minus

