%h1.bg-brand
  Ура! Поступил новый заказ №#{@order.id}
- @order.positions.each do |position|
  %table
    %tr
      %td
        = image_tag position.composition.img.url(:thumb), class: 'img-responsive'
      %td{style: 'vertical-align: top;'}
        %h2
          Информация:
        %table
          %tr
            %td
              Заказчик:
            %td
              = @order.name
              |
              = @order.phone
          %tr
            %td
              Адрес:
            %td
              = @order.address
          %tr
            %td
              Дата доставки:
            %td
              = Russian::strftime(@order.order_date.in_time_zone, ' %d.%m в %H:%M')
          %tr
            %td
              Примечание:
            %td
              = @order.desc
          %tr
            %td
              Сумма:
            %td
              = @order.total
              руб.
          %tr
            %td
              Способ оплаты:
            %td
              = @order.pay_method
          %tr
            %td
              Создан:
            %td
              = Russian::strftime(@order.created_at.in_time_zone, ' %d.%m в %H:%M')

