.container
  .h2
    Поступил новый заказ №#{@order.id}
  .row
    .h3

    .col-md-12
      - @order.positions.each do |position|
        .row
          .col-md-4
            = image_tag position.composition.img.url(:thumb)
          .col-md-8
            .h4
              Композиция состоит из:
            - if position.subpositions.any?
              - position.subpositions.each do |sub|
                %li
                  = sub.item.name
                  %strong
                    = sub.quantity
                    штук
            Доставка:
            %br
            %strong
              = @order.address
              %br
              = l(@order.order_date.localtime)
            %br
            Телефон для связи:
            %strong
              = @order.phone
            %br
            Сумма:
            %strong
              = @order.total
