%h1
  = @call.call_type == 'Запрос цены' ? 'Запрос цены' : 'Заказали обратный звонок!'
%table
  %tr
    %td
      Тип заявки
    %td
      = @call.call_type
  %tr
    %td
      Имя
    %td
      = @call.username
  %tr
    %td
      Город:
    %td
      = t("cities.#{@call.city}.base")
  %tr
    %td
      Телефон
    %td
      = @call.userphone
  %tr
    %td
      Способы связи
    %td
      = @call.messangers.join(',') if @call.messangers
  - if @call.event
    %tr
      %td
        Повод
      %td
        = @call.event
  - if @call.person
    %tr
      %td
        Кому
      %td
        = @call.person
  - if @call.budget
    %tr
      %td
        Бюджет
      %td
        = @call.budget
  - if @call.desc
    %tr
      %td
        Дополнительно
      %td
        = @call.desc
  %tr
    %td
      Заявка поступила
    %td
      = @call.created_at.in_time_zone
  %tr
    %td
      Страница заказа:
    %td
      %a{href: @call.url }
        = @call.url

