%h1
  Заказали обратный звонок!
%table
  %tr
    %td
      Данные:
  %tr
    %td
      Имя
    %td
      = @call.username
  %tr
    %td
      Город:
    %td
      = t("cities.#{@call.city}.base")
  %tr
    %td
      Телефон
    %td
      = @call.userphone
  %tr
    %td
      Можно связаться через
    %td
      = @call.messangers.join(',') if @call.messangers
  %tr
    %td
      Повод
    %td
      = @call.event
  %tr
    %td
      Кому
    %td
      = @call.person
  %tr
    %td
      Бюджет
    %td
      = @call.budget
  %tr
    %td
      Дополнительно
    %td
      = @call.desc
  %tr
    %td
      Заявка поступила в
    %td
      = @call.created_at.in_time_zone
  %tr
    %td
      Страница заказа:
    %td
      = @call.url
