- cache product do
  .col-12.col-lg-4.col-md-6.mb-3
    .card.text-center.h-100#product
      .card-image-top
        = image_tag product.medium_url, class: 'img-fluid', title: product.complex_name, alt: product.complex_name
      .card-body
        .card-title.text-center
          = product.complex_name
        .row.justify-content-center.align-items-center
          .col-12.col-lg-6
            .h5.font-weight-bold.mb-0
              = number_to_currency(product.price_with_helium, precision: 0)
            .small
              с гелием
          .col-12.col-lg-6
            - if !product.in_cart?(@cart)
              = button_to 'В корзину', add_product_to_cart_path(product), class: 'btn btn-info btn-sm', id: "add-#{product.id}", method: :post, remote: true, data: {disable_with: 'Добавляю...'}
            - else
              = link_to 'В корзине', my_cart_path, class: 'btn btn-success btn-sm'
