- breadcrumb :products
.container-fluid.bg-grad.py-3
  %h1.h2.text-center.font-weight-bold.mb-3.text-white
    Гелиевые шары с доставкой в #{t("cities.#{@city}.where")}
    .small
      Большой ассортимент воздушных шаров на любой праздник
  .row.text-center
    #offer-icon.text-white
      %i.fas.fa-thumbs-up.fa-3x.my-1
      .h4.text-white
        Проклеиваем все шары
        .small
          Гарантируем 3 дня полета или заменим брак!
    #offer-icon.text-white
      %i.fas.fa-car.fa-3x.my-1
      .h4.text-white
        Круглосуточная доставка
        .small
          Доставим ваш заказ точно в срок!
    #offer-icon.text-white
      %i.fas.fa-birthday-cake.fa-3x.my-1
      .h4.text-white
        Индивидуальный дизайн
        .small
          Подберем уникальное оформление под ваш праздник!
  .text-center
    .lead.text-white
      Помочь с выбором?
    = button_tag 'Оставить заявку', class: 'btn btn-block btn-info col-lg-6 m-auto', data:{ toggle: 'modal', target: '#call-modal'}
.container.mt-4
  %h2.h3.mt-5.text-center=link_to 'Воздушные шары по коллекциям',categories_path
  %hr
  .card-columns
    - @categories.each do |category|
      = link_to category_path(category) do
        - cache category do
          .card
            .card-body
              .row.align-items-center
                .col-5
                  = image_tag category.image.img(:small), title: category.name, alt: category.name, data: {toggle: 'tooltip'}
                .col-7.lead
                  = category.name.capitalize
  %h2.h3.text-center=link_to 'Воздушные шары по цветам', colors_path
  %hr
  .card-columns
    - @colors.each do |color|
      = link_to color_path(color) do
        - unless color.name == 'ассорти'
          - cache color do
            .card
              .card-body
                .row.align-items-center
                  .col-5
                    = image_tag color.image.img(:small), title: color.name, alt: color.name, data: {toggle: 'tooltip'} if color.image
                  .col-7.lead
                    = color.name.capitalize
.container#seo-text.mt-4
  %h2.h4.font-weight-bold
    Заказать воздушные шары с гелием недорого с бесплатной доставкой в #{t("cities.#{@city}.where")} - только у Шариковой феи!
  %p.mt-3
    Любое торжество не может обойтись без яркого и красочного оформления. И не важно, это юбилей человека в возрасте, или детский день рождения: шарики с гелием будут уместны на любой праздник! В нашем ассортименте воздушных шаров вы сможете подобрать варианты оформления конкретно по ваш повод. Наши менеджеры помогут вам подобрать композицию, проконсультирует по наличию и порекомендуют наиболее подходящие варианты оформления воздушными шарами.
  %h2.h4.font-weight-bold
    Воздушные шары с гелием - подарок, который будет всегда уместным!
  %p.mt-3
    Фантазия не имеет границ! Из шариков можно сделать потрясающие композиции, украсить грандиозную свадьбу или выпускной. Мы же гарантируем качество наших шаров, доставку точно в срок и сочное оформление на месте. Вы можете уверенно доверить оформление вашего мероприятия Шариковой фее!
  %h2.h4.font-weight-bold
    Гелиевые шары с доставкой в #{t("cities.#{@city}.where")} сэкономят ваше время и нервы!
  %p.mt-3
    .lead
      Почему стоит заказать шарики у нас?
    %ul
      %li
        Круглосуточная бесплатная доставка от 1200 руб. в #{t("cities.#{@city}.where")}
        %p
          Мы привезем ваш заказ в любое время суток, не потревожив сон виновника торжества!
      %li
        Гарантируем долгий полет шаров
        %p
          Мы обрабатываем воздушные шары специальным составом, что намного увеличивает их срок полета. Мы даем гарантию, что минимум 3 дня они пролетают, иначе мы заменим брак за свой счет.
      %li
        Бесплатно придумаем оформление под любое торжество
        %p
          Если вы затрудяетесь с выбором, то наши оформители подберут для вас украшение праздника, от которого вы останетесь в восторге!



