- breadcrumb :tags
.container
  %h1.h2.text-center.font-weight-bold
    Воздушные шары на праздник с доставкой по #{t "cities.#{@city}.in"}
    .small.text-muted
      Посмотрите готовые оформления на любой праздник
  %hr
  .row.card-columns
    - @tags.each do |tag|
      - cache tag do
        .col-3.card.mb-5.border-0
          = link_to tag_path(tag) do
            = image_tag tag.image.img(:thumb), class: 'card-img'
            .card-body.card-img-overlay
              .h3.card-title.bg-white.p-2.rounded.text-info
                = tag.name.capitalize
%hr
.container#seo-text
  = render 'text_party'
