- breadcrumb :tags
.container
  %h1.h2.text-center.font-weight-bold
    Воздушные шары на праздник с доставкой по #{t "cities.#{@city}.in"}
    .small.text-muted
      Посмотрите готовые оформления на любой праздник
  %hr
  .card-columns
    - @tags.each do |tag|
      - cache tag do
        = link_to tag_path(tag) do
          .card.mb-5
            = image_tag Composition.with_tag(tag.name).first.img(:preview), class: 'card-img'
            .card-body.card-img-overlay
              .h2.card-title.bg-white.p-2.rounded
                = tag.name.capitalize
%hr
.container#seo-text
  = render 'text_party'
