- breadcrumb :tags
.container
  %h1.h2.text-center.font-weight-bold
    Воздушные шары на праздник с доставкой по #{t "cities.#{@city}.in"}
    .small.text-muted
      Посмотрите готовые оформления на любой праздник
  %hr
  .row.justify-content-around.compositions
    - @tags.each do |tag|
      - cache tag do
        .composition
          = link_to tag_path(tag), class: 'w-100' do
            .card.justify-content-between.align-items-center
              .card-image
                = image_tag tag.image.img(:thumb), class: 'img-fluid'
                .line
              .card-body
                .h3.card-title.bg-white.p-2.rounded.text-info
                  = tag.name.capitalize
%hr
.container#seo-text
  = render 'text_party'
