- breadcrumb @tag
.container.my-5
  %h1.h2.text-center.mb-4
    Оформление воздушными шарами на #{@tag.name}
    %br
    в
    = t "cities.#{@city}.where"

    .small.text-muted.mt-1
      Найдено #{@compositions.count} композиций
  .row.justify-content-around.compositions
    = render partial: 'delivery/main/thumb_composition', collection: @compositions, as: :c
  .row
    = will_paginate @compositions
  .row.text-center
    %h4.col-12.mt-3
      Ничего не нашли? Давайте мы поможем!
    .col-12#help
      = button_tag 'Оставить заявку', class: 'btn btn-success btn-lg btn-block col-lg-6 m-auto', data:{ toggle: 'modal', target: '#call-modal'}
  - case @tag.name
  - when 'день рождения'
    = render 'text_bithday'
  - when 'свадьба'
    = render 'text_wedding'
  - when 'девичник'
    = render 'text_dev'
  - when 'праздник'
    = render 'text_party'

