#feedback.my-3
  .feed-img
    = image_tag feedback.img(:small), class: 'rounded-circle'
  .feed-text
    .lead
      = feedback.name
    .text-muted
      = link_to 'Профиль в соц.сетях', feedback.social_url, target: :blank  if feedback.social_url
    %span
      = feedback.body
    .small
      = Russian::strftime(feedback.created_at, "%d %b  '%y")


