.row
  .comp-image
    = image_tag composition.img.url(:large), class: 'img-fluid'
  .comp-desc
    %p.bg-brand
      %strong
        В композицию входит:
    %table.table.table-bordered.table-condensed
      %tbody
        %thead
          %th
            Название
          %th
            Кол-во
          %th
            Цена
      - composition.products.uniq.each do |product|
        %tr.item{data: {item_id: "#{product.id}"}}
          %td
            %span{style: 'border-bottom: 1px dashed black; cursor: pointer;'}
              = product.complex_name
          %td
            = composition.products.where(id: product.id).count
            шт.
          %td= number_to_currency(product.price_with_helium, precision: 0)
          %td.popover-img{style: 'display: none;'}
            = image_tag product.image(:small)
      %tr.text-right
        %td
        %td
          %strong
            Итого:
        %td
          %strong
            = number_to_currency(composition.price, precision: 0)

    .row
      .col-12
        - if composition.tags.any?
          %p
            Композиция на
            - composition.tags.each do |tag|
              %span
                = link_to by_tag_path(tag.name) do
                  #{tag.name.capitalize},
    .row
      .col-12
        - unless @cart.compositions.include?(composition)
          = link_to 'Добавить в корзину', add_to_cart_path(composition), class: "btn btn-info btn-block add-to-cart#{composition.id}", data: {disable_with: 'Добавляем...'}, remote: true, method: :post
        - else
          = link_to 'Перейти в корзину', cart_path(@cart), class: 'btn btn-success btn-block'
  .comp-related.text-center
    %p
      %strong
        Похожие
    .row
      - composition.related.limit(3).each do |related|
        .col-md-12.col-xs-4
          = link_to root_path(id: related.id), remote: true  do
            = image_tag related.img.url(:small), class: 'img-responsive', style: 'margin: auto;'
.modal-footer

