.row
  .col-md-4.col-xs-12
    = image_tag composition.img.url(:thumb), class: 'img-responsive', style: 'margin-bottom: 2em;'
  .col-md-6.col-xs-12
    %p.bg-brand
      %strong
        В композицию входит:
    .table-responsive
      %table.table.table-bordered.table-condensed
        %tbody
        - composition.items.uniq.each do |i|
          %tr.item{data: {item_id: "#{i.id}"}}
            %td
              %span{style: 'cursor: pointer;'}
                = i.name
            %td
              = composition.items.where(id: i.id).count
              шт.
            %td= number_to_currency(i.price_with_helium, precision: 0)
            %td.popover-img{style: 'display: none;'}
              = image_tag i.img.url(:small)
        %tr.text-right
          %td
          %td
            Итого:
          %td
            %strong
              = number_to_currency(composition.price, precision: 0)

    .row
      .col-md-12.col-xs-12
        - if composition.tags.any?
          %p
            Композиция на
            - composition.tags.each do |tag|
              %span
                = link_to search_path(tag_name: tag.name) do
                  #{tag.name},
    .row
      .col-md-4.col-xs-12
        - unless @cart.compositions.include?(composition)
          = button_to 'Добавить в корзину', add_to_cart_path(composition), class: "btn btn-info btn-block add-to-cart#{composition.id}", data: {disable_with: 'Добавляем...'}, remote: true
        - else
          .btn.btn-success{disabled: true}
            Добавлено в корзину
  .col-md-2.col-xs-12.text-center
    %p
      %strong
        Похожие
    .row
      - composition.related.limit(3).each do |related|
        .col-md-12.col-xs-4
          = link_to root_path(id: related.id), remote: true  do
            = image_tag related.img.url(:small), class: 'img-responsive', style: 'margin: auto;'
.modal-footer

