- breadcrumb :colors
.container
  %h1.h2.font-weight-bold.text-center
    Разноцветные воздушные шары с доставкой в #{t("cities.#{@city}.where")}
  %hr
  .card-columns
    - @colors.each do |color|
      = link_to color_path(color) do
        - cache color do
          .card
            .card-body
              .row.align-items-center
                .col-5
                  = image_tag color.image.img(:small), title: color.name, alt: color.name, data: {toggle: 'tooltip'} if color.image
                .col-7.lead
                  = color.name.capitalize
