- breadcrumb :color, @color
.container
  %h1.h2.font-weight-bold.text-center
    #{@color.name.chomp('ый').capitalize + 'ые'} воздушные шары с доставкой в #{t("cities.#{@city}.where")}
  %hr
  .lead.text-center
    = link_to 'Назад', colors_path, class: 'btn btn-outline-dark mb-2'
  .card-columns
    - @items_in_collection.each do |product|
      .card.text-center.pt-3
        = image_tag product.image(:thumb), class: 'card-img-top', style: 'max-width:150px', title: product.complex_name, alt: product.complex_name, data: {toggle: 'tooltip'}
        .card-body
          .card-title.text-center
            - if product.type.name == 'фольгированные шары'
              = product.foil_form.name.capitalize
            - else
              Латексный шар
            %br
            Размер:
            #{product.size.in_cm.round(0) if product.size.in_cm} см
            (#{product.size.in_inch.round(0)}")
            .h4.font-weight-bold
              = number_to_currency(product.price_with_helium, precision: 0)
            = link_to 'В корзину', add_product_to_cart_path(product), class: 'btn btn-info', method: :post
.row.text-center
  %h4.col-12.mt-3
    Ничего не нашли? Давайте мы поможем!
  .col-12#help
    = button_tag 'Оставить заявку', class: 'btn btn-success btn-lg btn-block col-lg-6 m-auto', data:{ toggle: 'modal', target: '#call-modal'}
%hr
.container
  %h2.h3.font-weight-bold.text-center
    Купить #{@color.name.chomp('ый').capitalize + 'ые'} воздушные шары с доставкой в #{t("cities.#{@city}.where")}
