.modal.fade{id: "subposition-modal",  tabindex: "-1",  role: "dialog"}
  .modal-dialog{role: "document", style: 'float: center; width: 80%;'}
    .modal-content{style: 'float: left;'}
      .modal-header
        %button{type: "button",  class: "close",  data: {dismiss: "modal"}}
          %span
            &times;
        .h3.modal-title{id: "myModalLabel"}
          Добавьте в композицию шары
          %br
          %small
            Выберите категорию
        .col-md-6.col-sm-6.col-xs-6
          = form_tag do
            .input-group
              = text_field_tag :search,'', class: 'form-control', placeholder: 'Начните вводить название категории...'
              %span.input-group-btn
                = button_tag(type: 'submit', class: 'btn btn-info') do
                  %i.fa.fa-search
      .modal-body{style: 'float: left;'}
        - @collections.sort!.each do |collection|
          .col-md-3.col-xs-6.col-sm-4
            = link_to '' do
              %span.as_btn= collection

        / = form_tag({controller: 'subpositions', action: 'add_subposition'}, remote: true, id: "add-sub#{position.id}", class: 'form-inline') do
        /   .form-group
        /     = select_tag :item, options_for_select(Item.all.map{|item| [item.name, item.id]}), class: 'form-control input-sm'
        /   .form-group
        /     = number_field_tag :quantity, 1, min: 1, class: 'form-control input-sm'
        /     = hidden_field_tag :position_id, position.id, required: true
        /     = submit_tag 'Добавить', class: 'btn btn-default btn-sm'
