.container-fluid
  .row.align-items-end.card-group
    %h2
    - @items_in_collection.each do |product|
      .item-in-collection
        .card
          .card-header
            = product.complex_name
          .card-block.text-center
            = image_tag product.image(:small), class: 'img-fluid card-img-top mx-auto'
            %p.card-text.text-center
              %strong
                = number_to_currency(product.price_with_helium, precision: 0)
          .card-footer.text-right
            = button_to 'Добавить', add_subposition_path(item: product.id, position: position), class: 'btn btn-info', data: {disable_with: 'Подождите...'}
  %div{style: 'clear: both;'}
  .row
    .col-md-12
      %p.text-center{style: 'font-size: 1.5em;'}
        = link_to 'Назад', my_cart_path(position: position), remote:  true

