.container-fluid
  .row
    - @items_in_collection.each do |item|
      .col-md-4.col-sm-6-col-xs-12
        .thumbnail
          .row
            .col-md-6.col-sm-6.col-xs-12
              = image_tag item.img.url(:small), class: 'img-responsive'
            .col-md-6.col-sm-6.col-xs-12
              = item.name.capitalize
              %br
              = number_to_currency(item.price_with_helium, precision: 0)
              = button_to 'Добавить', add_subposition_path(item: item.id, position: position), class: 'btn btn-info', data: {disable_with: 'Подождите...'}
  %div{style: 'clear: both;'}
  .row
    .col-md-12
      %p.text-center{style: 'font-size: 1.5em;'}
        = link_to 'Назад', my_cart_path(position: position), remote:  true

