- @cart.positions.includes(:subpositions, :composition).each do |p|
  %div.product_in_cart{id: "position#{p.id}"}
    .row
      .d-none
        = image_tag p.composition.img.url(:preview), class: 'img-fluid'

      .col-12.text-center
        %table.table.table-sm.table-borderless.table-responsive-md
          = render p.subpositions
      .col-12
        = link_to 'Добавить в композицию', '', class: 'btn btn-info btn-block', data:{ toggle: 'modal', target: "#position-modal-#{p.id}"}
        = link_to 'Удалить из корзины', remove_from_cart_path(p), class: 'btn btn-danger', method: :delete, remote: true
    .modal.fade{id: "position-modal-#{p.id}",  tabindex: "-1",  role: "dialog", class: 'position-modal'}
      .modal-dialog{role: "document"}
        .modal-content.container
          .modal-header
            .h1.modal-title
              Добавьте в композицию шары
              %br
              %small
                Выберите категорию
            %button{type: "button",  class: "close",  data: {dismiss: "modal"}}
              %span
                &times;
          .col-12.mb-1
            .input-group
              = text_field_tag :search,'', class: 'form-control', placeholder: 'Начните вводить название категории...'
              %span.input-group-append
                = button_tag(class: 'btn btn-info', id: 'clear-search') do
                  %i.fa.fa-times
          %br
          .modal-body
            = render partial: 'category_list', locals: {p: p}