
%h2.border-bot Итог:
.row
  .col-md-12.col-xs-12.col-sm-12
    .row
      .col-md-6.col-sm-6.col-xs-6.text-left
        Всего в корзине
      .col-md-6.col-sm-6.col-xs-6.text-right
        = pluralize(@cart.positions.count, 'товар', 'товара')
    .row
      .col-md-6.col-sm-6.col-xs-6.text-left
        Сумма
      .col-md-6.col-sm-6.col-xs-6.text-right
        = @cart.total_price
        %i.fa.fa-rub{style: 'aria-hidden="true"'}
    .row
      .col-md-6.col-sm-6.col-xs-6.text-left
        Ваша скидка:
      .col-md-6.col-sm-6.col-xs-6.text-right
        - if current_user
          #{current_user.discount}
        - else
          = link_to 'Войдите', delivery_login_path
    .row
      .col-md-6.col-sm-6.col-xs-6.text-left
        - to_delivery = 1500 - @cart.total_price
        Доставка
      .col-md-6.col-sm-6.col-xs-6.text-right
        = to_delivery > 0 ? 150 : 0
        %i.fa.fa-rub{style: 'aria-hidden="true"'}
    .row
      .col-md-6.text-left.col-xs-6.border-bot
        %strong
          Всего к оплате:
      .col-md-6.col-xs-6.text-right.border-bot
        %strong
          = @cart.total_price
          %i.fa.fa-rub{style: 'aria-hidden="true"'}
    .row
      .col-md-12.col-sm-12.col-xs-12
        %form{style: 'margin-bottom: 14px;'}
          .col-xs-6.col-sm-6
            .form-group
              = text_field_tag '', '', class: 'form-control input-sm', placeholder: 'Промо код'
          .col-xs-6.col-sm-6
            .form-group.text-right
              %span= link_to 'Как получить?'
.row
  .col-md-12.col-sm-12.col-xs-12
    = link_to 'Оформить заказ', new_delivery_order_path, class: 'btn btn-info btn-block'
.row
  .col-md-12.col-sm-12.text-center
    %small
      - if to_delivery > 0
        Вам осталось
        %strong
          #{to_delivery.round(2)}
          %i.fa.fa-rub{style: 'aria-hidden="true"'}
        до бесплатной доставки
      -else
        Бесплатная доставка в любой конец города!
