
%h3.border-bot Итог:
.row
  .col-md-12
    %div
      Всего в корзине
      = pluralize(@cart.positions.count, 'товар', 'товара')
      на сумму
      = @cart.total_price.round(2)
      %i.fa.fa-rub{style: 'aria-hidden="true"'}
    %div
      Ваша скидка:
      = current_user ? current_user.discount : 0
      %span %
    .shipping
      Доставка:
      = @cart.total_price > 1000 ? 0 : 150
      %i.fa.fa-rub{style: 'aria-hidden="true"'}
    %div.text-center
      Всего к оплате:
      .total.h3
        = @cart.total_price.round(2)
        %i.fa.fa-rub{style: 'aria-hidden="true"'}
    .text-center
      = link_to 'Оформить заказ', new_delivery_order_path, class: 'btn btn-success btn-block'
