.container
  %h2.border-bot Итог:
  .d-flex.px-3
    .subtotal-col.text-left
      Всего в корзине
    .subtotal-col.text-right
      = pluralize(@cart.positions.count, 'товар', 'товара')
  .d-flex.px-3
    .subtotal-col.text-left
      Сумма
    .subtotal-col.text-right
      = @cart.total_price
      %i.fa.fa-rub{style: 'aria-hidden="true"'}
  .d-flex.px-3
    .subtotal-col.text-left
      Ваша скидка:
    .subtotal-col.text-right
      - if current_user
        #{number_to_percentage(current_user.discount + @cart.used_code_discount, precision: 2)}
        (#{(@cart.total * (@cart.used_code_discount + current_user.discount) / 100).round(2)}
        %i.fa.fa-rub{style: 'aria-hidden="true"'})
      - else
        = link_to 'Войдите', login_path
  .d-flex.px-3
    .subtotal-col.text-left
      - to_delivery = 1000 - @cart.total
      Доставка
    .subtotal-col.text-right
      = to_delivery > 0 ? 150 : 0
      %i.fa.fa-rub{style: 'aria-hidden="true"'}
  .d-flex.border-bot.px-3
    .subtotal-col.text-left
      %strong
        Всего к оплате:
    .subtotal-col.text-right
      %strong
        = @cart.total.round(2)
        %i.fa.fa-rub{style: 'aria-hidden="true"'}
  - unless @cart.used_code_discount > 1
    = form_tag apply_code_path, method: :post do
      .d-flex.align-items-center.px-3
        .subtotal-col.text-left
          = text_field_tag :code, '', class: 'form-control input-sm', placeholder: 'Промо код'
        .subtotal-col.text-right
          = submit_tag 'Применить', class: 'btn btn-success btn-sm'
  - else
    .text-success.text-center
      Вы использовали промокод на скидку
      #{@cart.used_code_discount}%
  / .row.text-muted.text-right
  /   .subtotal-col.mt-0= link_to 'Как получить?'
  .d-flex
    .col-12.text-center
      = link_to 'Оформить заказ', new_order_path, class: 'btn btn-info btn-block'
      .text-center
        - if to_delivery > 0
          Ещё
          %strong
            #{to_delivery.round(2)}
            %i.fa.fa-rub{style: 'aria-hidden="true"'}
          до бесплатной доставки
        -else
          Бесплатная доставка в любой конец города!
