.container
  .row
    .container
      - if @cart.positions.any?
        .col-md-7.col-sm-12.col-xs-12.col-lg-7
          %h2.border-bot В корзине
          - @cart.positions.each do |p|
            .row{id: "position#{p.id}"}
              .col-md-12.col-xs-12.col-sm-12.col-lg-12
                .thumbnail{style: 'float: left; width: 100%;'}
                  = link_to delivery_remove_from_cart_path(p), method: :post, remote: true do
                    %i.fa.fa-times#del-from-cart
                  .col-md-4.col-sm-12.col-xs-12
                    = image_tag p.composition.img.url(:thumb), class: 'img-responsive'
                  .col-md-8.col-sm-12.col-xs-12
                    %h4
                      = link_to p.composition.title, delivery_composition_path(p.composition)
                    %span.title
                      В композицию входит:
                      %br
                    .subpositions
                      = render p.subpositions.order(:id)
                    = link_to 'Добавить в композицию', '', class: 'btn btn-info', data:{ toggle: 'modal', target: "#subposition-modal-#{p.id}"}
                    = render partial: 'delivery/carts/add', locals: {p: p}


        .col-md-1.hidden-sm.hidden-xs
        .col-md-4.col-sm-12.col-xs-12
          .subtotal
            =render 'subtotal'
      - else
        .col-md-12
          %h2
            В вашей корзине пока ничего нет
            %br
            = link_to 'Добавить в корзину', delivery_root_path, class: 'btn btn-info'

%div{style: 'clear: both;'}


