$(document).on('ajaxStart', function(){
  $("#position-modal-<%= @position.id %> .modal-body").html('<div class="text-center h1"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>');
});
$(document).on('ajaxSuccess', function(){
  <% if params[:collection_id] || params[:category_id] %>
    $("#position-modal-<%= @position.id %> .modal-body").html('<%= j(render partial: "delivery/carts/category", locals: {position: @position})%>')
  <% else %>
    $("#position-modal-<%= @position.id %> .modal-body").html('<%= j(render partial: "delivery/carts/category_list")%>')
  <% end %>
});
