.container
  .row
    .container
      - if @cart.positions.any?
        .col-md-7.col-sm-12.col-xs-12.col-lg-7
          %h2.border-bot В корзине
          - @cart.compositions.each do |c|
            .row
              .col-md-12.col-xs-12.col-sm-12.col-lg-12
                = link_to delivery_remove_from_cart_path(id: c.id), method: :post do
                  %i.fa.fa-times#del-from-cart
                .thumbnail{style: 'float: left'}
                  = link_to delivery_remove_from_cart_path(id: c.id), method: :post do
                    %i.fa.fa-times#del-from-cart
                  .col-md-4.col-sm-12.col-xs-12
                    = image_tag c.img.url(:thumb), class: 'img-responsive'
                  .col-md-8.col-sm-12.col-xs-12
                    %h4
                      = link_to c.title, delivery_composition_path(c)
                    %span.title
                      В композицию входит:
                      %br
                    - @position = @cart.positions.find_by(composition_id: c.id)
                    .subpositions
                      = render @position.subpositions.order(:id)
                    %span{class: "add-to-comp btn btn-info", style: 'margin-top: 1em;', data:{ toggle: 'modal', target: '#subposition-modal'}}Добавить в композицию
                    %div{class: "form-add-sub"}
                      = render partial: 'delivery/carts/add', locals: {position: @position}
        .col-md-1.hidden-sm.hidden-xs
        .col-md-4.col-sm-12.col-xs-12
          =render 'subtotal'
      - else
        .col-md-12
          %h2
            В вашей корзине пока ничего нет
            %br
            = link_to 'Добавить в корзину', delivery_root_path, class: 'btn btn-info'


%div{style: 'clear: both;'}


