.item-in-cart-list
  - @cart.compositions.each do |c|
    .item-in-cart
      .img
        = image_tag c.img.url
      .info
        %span.title
          В композицию входит:
          %br
        - @cart.positions.where(composition: c).last.subpositions.each do |s|
          = s.item.name
          = s.quantity

  
%div
  %span 
    Total in cart
    = @cart.total_price
  = link_to 'Оформить заказ', new_delivery_order_path, class: 'add-to-cart'