.container
  .row
    .container
      - if @cart.positions.any?
        .col-md-8.col-sm-12.col-xs-12.col-lg-7
          %h2.border-bot В корзине
          - @cart.positions.each do |p|
            .row{id: "position#{p.id}"}
              .col-md-12.col-xs-12.col-sm-12.col-lg-12
                .thumbnail{style: 'float: left; width: 100%;'}
                  = link_to remove_from_cart_path(p), method: :post, remote: true do
                    %i.fa.fa-times#del-from-cart
                  .col-md-4.col-sm-12.col-xs-12
                    = image_tag p.composition.img.url(:thumb), class: 'img-responsive'
                    .h3
                      = link_to 'Добавить в композицию', '', class: 'btn btn-info', data:{ toggle: 'modal', target: "#subposition-modal-#{p.id}"}
                    .modal.fade{id: "subposition-modal-#{p.id}",  tabindex: "-1",  role: "dialog"}
                      .modal-dialog{role: "document", style: 'float: center; width: 90%; margin: auto;'}
                        .modal-content{style: 'float: left;'}
                          .modal-header
                            %button{type: "button",  class: "close",  data: {dismiss: "modal"}}
                              %span
                                &times;
                            .h3.modal-title{id: "myModalLabel"}
                              Добавьте в композицию шары
                              %br
                              %small
                                Выберите категорию
                            .col-md-6.col-sm-6.col-xs-12.col-sm-12
                              .input-group
                                = text_field_tag :search,'', class: 'form-control', placeholder: 'Начните вводить название категории...'
                                %span.input-group-btn
                                  = button_tag(class: 'btn btn-info', id: 'clear-search') do
                                    %i.fa.fa-times
                          .modal-body{style: 'float: left; width: 100%;'}
                            = render partial: 'category_list', locals: {p: p}
                  .col-md-8.col-sm-12.col-xs-12
                    %strong
                      В композицию входит:
                    .subpositions
                      %table.table.table-striped.table-responsive.table-hover.hidden-xs
                        = render p.subpositions.order(:id)
        .col-md-4.col-sm-12.col-xs-12.pull-right
          .subtotal
            =render 'subtotal'
      - else
        .col-md-12
          %h2
            В вашей корзине пока ничего нет
            %br
            = link_to 'Добавить в корзину', root_path, class: 'btn btn-info'

%div{style: 'clear: both;'}


