= form_for [:admin, @product] do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :barcode, 'Штрихкод'
    = f.number_field :barcode, class: 'form-control'
  .form-group
    = f.label :code
    = f.text_field :code, class: 'form-control'
  .form-group
    = f.label :size_id
    = f.select :size_id, Size.all.map{|s| [s.in_inch, s.id]},{}, class: 'form-control'
  .form-group
    = f.label :price
    = f.number_field :price, class: 'form-control'
  .form-group
    = f.label :price_with_helium
    = f.number_field :price_with_helium, class: 'form-control'
  .from-group
    = f.label :quantity
    = f.number_field :quantity, class: 'form-control'
  .from-group
    = f.submit
