= form_for [:admin, @product] do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :size_id
    = f.select :size_id, Size.all.map{|s| [s.in_inch, s.id]},{}, class: 'form-control'
  .form-group
    = f.label :price
    = f.number_field :price, class: 'form-control'
  .form-group
    = f.label :img
    = f.file_field :img, class: 'form-control'
  .from-group
    = f.submit
