.left-menu.bg-brand.toggled
  %ul.nav.nav-pills.nav-stacked
    .nav-header
      123
    %li
      = link_to admin_users_path do
        %i.fa.fa-user
        %span.hidden-xs Пользователи
    %li
      = link_to admin_items_path do
        %i.fa.fa-user
        %span.hidden-xs Товары
    %li
      = link_to admin_compositions_path do
        %i.fa.fa-user
        %span.hidden-xs Композиции
    %li
      = link_to admin_orders_path do
        %i.fa.fa-user
        %span.hidden-xs Заказы
    %li
      = link_to new_admin_price_path do
        %span.hidden-xs Загрузить прайс

