.left-menu.bg-brand
  %ul.nav.nav-tabs
    %li.nav-item
      = link_to admin_users_path, class: 'nav-link' do
        %i.fa.fa-user
        %span.hidden-sm.hidden-xs Пользователи
    %li.nav-item
      = link_to admin_items_path, class: 'nav-link'  do
        %i.fa.fa-product-hunt
        %span.hidden-xs.hidden-sm Товары
    %li.nav-item
      = link_to admin_compositions_path, class: 'nav-link'  do
        %i.fa.fa-picture-o
        %span.hidden-xs.hidden-sm Композиции
    %li.nav-item
      = link_to admin_orders_path, class: 'nav-link'  do
        %i.fa.fa-rub
        %span.hidden-xs.hidden-sm Заказы
    %li.nav-item
      = link_to new_admin_price_path, class: 'nav-link'  do
        %i.fa.fa-file
        %span.hidden-xs.hidden-sm Загрузить прайс

