.responsive-menu-list
  %span 
    Шариковая фея
  %ul
    %br
    %br
    %br
    %li.sub
      Товары
      %ul{style: 'display: none;'}
        %li= link_to 'Все товары', admin_items_path
        %li= link_to 'Добавить товар', new_admin_item_path
    %li.sub
      Композиции
      %ul{style: 'display: none;'}
        %li= link_to 'Все композиции', admin_compositions_path
        %li= link_to 'Добавить композицию', new_admin_composition_path
    %li.sub
      Заказы
      %ul{style: 'display: none;'}
        %li= link_to 'до 1000'
        %li= link_to 'от 1000 до 5000'
    %li
      Контакты
    %li
      = link_to 'Корзина'
    %li.sub= link_to 'B2B'
    %br
    %li= link_to 'В магазин', shop_root_path
    %br
    %li= link_to 'Личный кабинет'
