-cache do
  .modal.fade{id: "call-modal",  tabindex: "-1",  role: "dialog"}
    .modal-dialog#call{role: "document"}
      .modal-content
        .modal-header
          .h4.modal-title
          %button.close{data: {dismiss: "modal"}, 'aria-label': "Close"}
            %span
              &times;

        .modal-body
          .h4.text-center
            Оставте заявку
          %p.text-muted.text-center
            Мы отвечаем на заявки ежедневно с 9:00 до 20:00

          = render 'delivery/layouts/form_to_call'
          .lead.text-center
            или напишите нам в чате
            .text-info
              %i.fab.fa-viber{title: 'Viber'}
              %i.fab.fa-whatsapp{title: 'WhatsApp'}
              %i.fab.fa-telegram{title: 'Telegram'}
              = link_to t("cities.#{@city}.phones.mobile"), "tel: #{t("cities.#{@city}.phones.tel_tag_mobile")}"
        .modal-footer
          .small.text-justify
            В соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006, отправляя данную форму, вы подтверждаете свое согласие на обработку персональных данных.

