#menu-fixed.fixed-top.d-none
  .container
    .row
      .menu-options
        %ul.list-unstyled.nav.justify-content-between
          %li.dropdown
            = link_to '', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
              Готовые композиции
            %ul.dropdown-menu
              %li.dropdown-item= link_to 'По праздникам', tags_path
              %li.dropdown-item= link_to 'Кому', receivers_path
          %li.dropdown
            = link_to '', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
              Гелиевые шары
            %ul.dropdown-menu
              %li.dropdown-item= link_to 'По цветам', colors_path
              %li.dropdown-item= link_to 'По коллекциям', categories_path
          %li.text-uppercase.dropdown{role: "presentation"}
            = link_to '', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
              Выпускные
            %ul.dropdown-menu
              %li.dropdown-item
                = link_to 'Из садика', kg_path
              %li.dropdown-item
                = link_to 'Из школы', school_path
          %li.text-uppercase.nav-item
            = link_to 'Для бизнеса', business_index_path,data: {turbolinks: false}
          %li.text-uppercase.nav-item
            = link_to 'Отзывы', feedbacks_path
