- cache 'footer' do
  %hr
  .container-fluid.footer
    .row.gradient
      .col-12.d-flex.justify-content-around
        = link_to 'https://www.instagram.com/bigairballoon_izh/', target: :_blank, rel: 'nofollow', title: 'Instagram' do
          %i.fab.fa-instagram.fa-2x.text-secondary{"aria-hidden":  "true"}
        = link_to 'https://www.facebook.com/bigairballoons/', target: :_blank, rel: 'nofollow', title: 'Facebook' do
          %i.fab.fa-facebook.fa-2x.text-secondary{"aria-hidden": "true"}
        = link_to 'https://vk.com/bigairballoon_izh', target: :_blank, rel: 'nofollow', title: 'Вконтакте' do
          %i.fab.fa-vk.fa-2x.text-secondary{"aria-hidden": "true"}
  %hr
  .container-fluid
    .row.flex-column.flex-column-reverse.flex-lg-row
      .col-12
        .row
          .col-lg-8.col-12
            %ul.nav.nav-justify
              %li.nav-item
                = link_to 'О нас', about_path, class: 'nav-link'
              %li.nav-item
                = link_to 'Гарантии', garant_path, class: 'nav-link'
              %li.nav-item
                = link_to 'Доставка и оплата', info_path, class: 'nav-link'
              %li.nav-item
                = link_to 'Цены', prices_path, class: 'nav-link'
              %li.nav-item
                = link_to 'Контакты', contacts_path, class: 'nav-link'
              %li.nav-item
                = link_to 'Отзывы', feedbacks_path, class: 'nav-link'
              %li.nav-item
                = link_to 'FAQ',faq_path, class: 'nav-link'

          .col-lg-4.col-12.text-right.d-none.d-lg-block
            .row
              .col-4
                .text-info.small
                  Позвоните нам!
                .text-right.lead
                  = link_to t("cities.#{@city}.phones.direct"), 'tel: %{phone}' % {phone: t("cities.#{@city}.phones.tel_tag")}
              .col-8
                .small.text-info
                  WhatsApp | Viber | Telegram
                .mt-0.text-right.lead
                  = link_to t("cities.#{@city}.phones.mobile"), 'tel: %{phone}' % {phone: t("cities.#{@city}.phones.tel_tag_mobile")}
    %hr.my-1
    .text-center.small
      ООО "ДЕЛИРИУМ"
      ИНН 1832110279
      \/
      КПП 183201001
    .text-center.small.ml-2
      This site is protected by reCAPTCHA and the Google
      <a href="https://policies.google.com/privacy">Privacy Policy</a> and
      <a href="https://policies.google.com/terms">Terms of Service</a> apply.
