- cache do
  .container-fluid.bg-grey.footer.mt-4
    .container
      .row
        .footer-logo.d-none.d-lg-block
          #logo
            = link_to root_path do
              = image_tag 'logo-footer.png', class: 'img-fluid'
        .footer-contacts
          .social.mt-2
            %ul.list-unstyled.list-inline.nav.justify-content-between.text-secondary
              %li.list-inline-item.mr-4
                =link_to 'https://www.instagram.com/bigairballoon_izh/', target: :_blank do
                  %i.fab.fa-instagram.fa-2x{"aria-hidden":  "true"}
              %li.list-inline-item.mr-4
                =link_to 'https://www.facebook.com/bigairballoons/', target: :_blank do
                  %i.fab.fa-facebook.fa-2x{"aria-hidden": "true"}
              %li.list-inline-item
                =link_to 'https://vk.com/bigairballoon_izh', target: :_blank do
                  %i.fab.fa-vk.fa-2x{"aria-hidden": "true"}
          .row
            %ul.list-unstyled.nav
              #footer-links
                %li
                  = link_to 'О нас', about_path
                %li
                  = link_to 'Гарантии', garant_path
                %li
                  =link_to 'Доставка и оплата', info_path
              #footer-links
                %li
                  =link_to 'Цены', prices_path
                %li
                  =link_to 'Контакты', contacts_path
                %li
                  =link_to 'Партнерам', partners_path
            #footer-contacts.lead
              Позвоните нам!
              .lead.strong
                = t "cities.#{@city}.phones.direct"
                .small
                  WhatsApp | Viber | Telegram
                  %br
                  = t "cities.#{@city}.phones.mobile"
      .row
        .col-12.text-center.small
          ООО "ДЕЛИРИУМ"
          ИНН 1832110279
          КПП 183201001
          ОГРН 1131832004831


