.h3
  Оставьте заявку
= form_for @call, remote: true do |f|
  .form-group
    = f.label 'Как вас зовут?', class: 'control-label'
    = f.text_field :username, class: 'form-control', required: true
  .form-group
    = f.label 'Ваш телефон', class: 'control-label'
    = f.telephone_field :userphone, data:{ mask: '+7 (999) 999 99 99' }, class: 'form-control', required: true
  .form-group
    = f.label 'Как лучше с вами связаться?', class: 'control-label'
    %br
    .form-check.form-check-inline
      %label
        = f.check_box :messangers, {multiple: true}, 'Позвонить', nil
        Позвонить
    .form-check.form-check-inline
      %label
        = f.check_box :messangers, {multiple: true}, 'Viber', nil
        Viber
    .form-check.form-check-inline
      %label
        = f.check_box :messangers, {multiple: true}, 'Whats App', nil
        Whats App
    .form-check.form-check-inline
      %label
        = f.check_box :messangers, {multiple: true}, 'Telegram', nil
        Telegram
    = f.hidden_field :url, value: request.original_url
  .modal-footer{style: 'padding: 0;'}
    .form-group
      = submit_tag 'Отправить', class: 'btn btn-info', data:{disabled_with: 'Отправляю...'}
