= form_for @call do |f|
  .form-group
    = f.label :person, 'Для кого?', class: 'text-lavender'
    = f.text_field :person, class: 'form-control', placeholder: 'Сыну, дочке, мужу...'
  .form-group
    = f.label :event, 'Какой повод?', class: 'text-lavender'
    = f.text_field :event, class: 'form-control', placeholder: 'День рождения, свадьба, юбилей...'
  .form-group
    = f.label :budget, 'Примерный бюджет', class: 'text-lavender'
    = f.text_field :budget, class: 'form-control', placeholder: 'Пара шекелей найдется...'
  .form-group
    = f.label :desc, 'Доп. информация', class: 'text-lavender'
    = f.text_area :desc, class: 'form-control', placeholder: 'Например, желаемая цветовая гамма или любимый мультфильм ребенка', rows: 3
  .form-group
    = f.label :username,  'Как вас зовут?', class: 'text-lavender'
    = f.text_field :username, class: 'form-control', required: true
  .form-group
    = f.label :userphone, 'Ваш телефон', class: 'text-lavender'
    = f.telephone_field :userphone, data:{ mask: '+7 (999) 999 99 99' }, class: 'form-control', required: true
  .form-group
    = f.label :messangers, 'Как лучше с вами связаться?', class: 'text-lavender'
    %br
    .form-check.form-check-inline
      %label
        = f.check_box :messangers, {multiple: true}, 'Позвонить', nil
        Позвонить
    .form-check.form-check-inline
      %label
        = f.check_box :messangers, {multiple: true}, 'Viber', nil
        Viber
    .form-check.form-check-inline
      %label
        = f.check_box :messangers, {multiple: true}, 'WhatsApp', nil
        WhatsApp
    .form-check.form-check-inline
      %label
        = f.check_box :messangers, {multiple: true}, 'Telegram', nil
        Telegram
    = f.hidden_field :url, value: request.original_url
    = f.hidden_field :city, value: @city
    #recaptcha
  .form-group.text-center
    = submit_tag 'Отправить', class: 'btn btn-success btn-block btn-sm', data:{disable_with: 'Отправляю...'}


