.h4.text-center.mb-5.text-uppercase
  Оставьте заявку
.container
  #form-call
    = form_for @call do |f|
      .form-group.row.align-items-center
        = f.label 'Как вас зовут?', class: 'control-label col-5 text-uppercase'
        = f.text_field :username, class: 'form-control col-7', required: true
      .form-group.row.align-items-center
        = f.label 'Ваш телефон', class: 'control-label col-5 text-uppercase'
        = f.telephone_field :userphone, data:{ mask: '+7 (999) 999 99 99' }, class: 'form-control col-7', required: true
      .form-group
        = f.label 'Как лучше с вами связаться?', class: 'control-label text-uppercase'
        %br
        .form-check.form-check-inline
          %label
            = f.check_box :messangers, {multiple: true}, 'Позвонить', nil
            Позвонить
        .form-check.form-check-inline
          %label
            = f.check_box :messangers, {multiple: true}, 'Viber', nil
            Viber
        .form-check.form-check-inline
          %label
            = f.check_box :messangers, {multiple: true}, 'Whats App', nil
            Whats App
        .form-check.form-check-inline
          %label
            = f.check_box :messangers, {multiple: true}, 'Telegram', nil
            Telegram
        = f.hidden_field :url, value: request.original_url
        .form-group.text-center.my-4
          = submit_tag 'Отправить', class: 'btn btn-info col-6 text-uppercase', data:{disable_with: 'Отправляю...'}

