#menu.bg-white
  .bg-info
    %ul.nav.justify-content-around.small.bg-info.d-none.d-lg-flex.col-11.ml-auto
      %li.nav-item
        = link_to 'О нас', about_path, class: 'nav-link'
      %li.nav-item
        = link_to 'Гарантии', garant_path, class: 'nav-link'
      %li.nav-item
        =link_to 'Доставка и оплата', info_path, class: 'nav-link'
      %li.nav-item
        =link_to 'Цены', prices_path, class: 'nav-link'
      %li.dropdown.nav-item{role: "presentation"}
        = link_to '', class: 'dropdown-toggle nav-link', data: {toggle: 'dropdown'} do
          Выпускные
        .dropdown-menu
          = link_to 'Из садика', kg_path, class: 'dropdown-item'
          = link_to 'Из школы', school_path, class: 'dropdown-item'
      %li.nav-item
        = link_to 'Отзывы', feedbacks_path, class: 'nav-link'

      %li.nav-item
        =link_to 'FAQ', faq_path, class: 'nav-link'
      - if !current_user
        %li.nav-item
          = link_to 'Войти', login_path, title: 'Войти', class: 'nav-link'
        %li.nav-item
          = link_to 'Регистрация', signin_path, title: 'Регистрация', class: 'nav-link'
      - else
        %li.nav-item
          = link_to cp_path, title: 'Личный кабинет', rel: 'nofollow', class: 'nav-link' do
            Личный кабинет
        %li.nav-item
          = link_to logout_path, method: :post, title: 'Выйти', class: 'nav-link' do
            Выйти

  %nav.navbar.navbar-expand-lg.navbar-light.bg-white.pt-2.border-bottom
    = link_to root_path, class: 'navbar-brand d-none d-lg-block col-1' do
      = image_tag 'logo-round.png', class: 'p-0 logo-lg bg-white rounded-circle'
    = link_to root_path, class: 'navbar-brand d-lg-none' do
      = image_tag 'logo2.png', class: '', width: 56
    = link_to '#', class: 'navbar-toggler navbar-toggler-right', data: {toggle: 'collapse', target: '#main-nav'} do
      %i.fas.fa-bars.fa-lg.text-info
    #main-nav.collapse.navbar-collapse.col-lg-11.ml-auto
      %ul.navbar-nav.ml-auto.w-100.justify-content-around
        %li.dropdown.nav-item
          = link_to '', class: 'dropdown-toggle nav-link', data: {toggle: 'dropdown'} do
            Готовые композиции
          .dropdown-menu
            = link_to 'По праздникам', tags_path, class: 'dropdown-item'
            = link_to 'Кому', receivers_path, class: 'dropdown-item'
        %li.dropdown.nav-item
          = link_to '', class: 'dropdown-toggle nav-link', data: {toggle: 'dropdown'} do
            Гелиевые шары
          .dropdown-menu
            = link_to 'По цветам', colors_path, class: 'dropdown-item'
            = link_to 'По коллекциям', categories_path, class: 'dropdown-item'
        %li.nav-item
          = link_to 'Для бизнеса', business_index_path, class: 'nav-link'

        %li.nav-item
          = link_to 'Контакты', contacts_path, class: 'nav-link'
        %li.nav-item
          = link_to my_cart_path, rel: 'nofollow', title: 'Корзина', class: 'nav-link' do
            %span.fa-layers.fa-fw
              %i.fas.fa-shopping-cart.text-info
              - if @cart.positions.any?
                %span.fa-layers-counter.h2.bg-success.text-white
                  = @cart.positions.count
            Корзина

        %li.nav-item.rounded.border.border-success.text-center
          = link_to 'Оставить заявку', '#', class: 'nav-link text-success', data:{ toggle: 'modal', target: '#call-modal'}
  = render 'delivery/layouts/breadcrumbs' unless @disable_bread
