.responsive-menu
  %i.fa.fa-bars

.logo
  .desk
    = link_to image_tag('Обложка.jpg'), delivery_root_path
  .mobile
    = link_to image_tag('Logos.jpg'), delivery_root_path

.top-menu
  %li= link_to 'Доставка'
  %li= link_to 'Оплата'
  %li= link_to 'Контакты'
  %li= link_to 'Админка', admin_root_path
.top-right
  - if current_user
    = link_to 'Выйти', delivery_logout_path, method: :post
  - else
    =link_to delivery_login_path do
      %i.fa.fa-sign-in
        Войти
    = link_to 'Регистрация', new_delivery_user_path
.top-phones
  %li 123 (456) 789
  %li 123 (456) 789
  %li
    .social
      = link_to '/' do
        %i.fa.fa-facebook
      = link_to '/' do
        %i.fa.fa-vk
      = link_to '/' do
        %i.fa.fa-instagram


