.container-fluid
  .row.d-sm-none.d-xs-none.d-none.d-lg-block
    .col-12.bg-info.mb-1
      %ul.list-inline.d-flex.justify-content-between.m-0.fs-80
        %li.list-inline-item.pl-3
          = link_to 'О нас', about_path, class: 'text-white'
        %li.list-inline-item.pl-3
          = link_to 'Гарантии', garant_path, class: 'text-white'
        %li.list-inline-item.pl-3
          =link_to 'Доставка и оплата', info_path, class: 'text-white'
        %li.list-inline-item.pl-3
          =link_to 'Цены', prices_path, class: 'text-white'
        %li.list-inline-item.pl-3
          =link_to 'Контакты', contacts_path, class: 'text-white'
.container#header
  .row#resp-fixed.d-lg-none.d-md-block
    .resp-menu-bar.bg-secondary.text-right
      .container
        .row.justify-content-between.align-items-center
          .header-logo-responsive
            = link_to root_path do
              = image_tag 'logo-resp.png', class: 'img-fluid'

          #icon-wrapper
            .small.text-white
              Меню
            %i.fa.fa-bars{style: 'aria-hidden="true"; cursor: pointer; '}
              %span.badge= @cart.positions.count if @cart.positions.any?
            %i.fa.fa-times{style: 'aria-hidden="true"; display: none; cursor: pointer;'}
  .row
    .header-logo.d-none.d-lg-block
      #logo
        = link_to root_path do
          = image_tag 'logo-round.png', class: 'img-fluid'
    .header-contacts.d-none.d-lg-block
      .row
        .col-4
          .row.align-items-start
            .col-2
              .social
                %ul.list-unstyled
                  %li
                    =link_to 'https://www.instagram.com/bigairballoon_izh/', target: :_blank do
                      %i.fa.fa-instagram{"aria-hidden":  "true"}
                  %li
                    =link_to 'https://www.facebook.com/bigairballoons/', target: :_blank do
                      %i.fa.fa-facebook{"aria-hidden": "true"}
                  %li
                    =link_to 'https://vk.com/bigairballoon_izh', target: :_blank do
                      %i.fa.fa-vk{"aria-hidden": "true"}
            .col-10.text-center
              .lead.strong
                +7 (912) 453-25-98
                .small.text-center
                  WhatsApp | Viber | Telegram
                  %br
                  Ежедневно с 8:00 до 21:00
              .mt-1
                = button_tag 'Нужна консультация', class: 'btn btn-secondary text-uppercase strong btn-sm', data:{ toggle: 'modal', target: '#call-modal'}
        .col-4
          .row.align-items-start.justify-content-center
            .col-1
            .col-2.p-0
              = image_tag 'balloon-contacts.png', class: 'img-fluid d-inline-block'
            .col-8.pl-2.pr-0
              .h6.text-uppercase.p-0.strong.m-0
                Бесплатная
                %br
                доставка
              .m-0
                по городу от 1000р.

        .col-4
          .row
            .col-12.text-right
              - unless current_user
                .text-uppercase
                  %strong{style:'font-size: 0.9rem;'}
                    = link_to 'Войти', login_path
                    \/
                    = link_to 'Регистрация', signin_path
              - else
                %span
                  Здравствуйте,
                  = current_user.first_name
                  %small
                    = link_to 'Выйти', logout_path, method: :post
          .row.mt-1.align-items-center
            .col-6.text-right
              %i.fa.fa-shopping-basket.fa-2x.text-secondary
            .col-6.text-left#cart
              .small
                %span#count
                  = pluralize(@cart.positions.count, 'товар', 'товара')
              .lead.text-secondary
                %strong
                  %span#sum
                    = @cart.total_price.round(0)
                  %span.text-primary
                    руб.
              #to-cart
                = link_to 'В корзину', my_cart_path if @cart.positions.any?
      .row.mt-3.mb-4
        .col-12
          = render 'delivery/layouts/main_menu'
= render 'delivery/layouts/call'
