.container-fluid
  .row
    .resp-menu-bar.bg-brand.hidden-lg-up.text-right.fixed-top
      .icon-wrapper
        %i.fa.fa-bars{style: 'aria-hidden="true"; '}
        %i.fa.fa-times{style: 'aria-hidden="true"; display: none;'}
        %span.badge= @cart.positions.count if @cart.positions.any?
  .header
    .promotion-bar.hidden-lg-down
      .row
        .promotion.bg-brand.text-center.collapse#promo
          Акций пока нет!
      .row.text-center.justify-content-center
        .promo-toggle.bg-brand
          = link_to 'Акции','#', data:{toggle: 'collapse', target: '#promo' }
    .container
      .row.hidden-lg-down
        .top-menu-left.text-left
          %ul.text-left.list-inline.list-unstyled
            %li.list-inline-item= link_to 'Контакты'
            %li.list-inline-item= link_to 'Доставка'
            %li.list-inline-item= link_to 'Админка', admin_root_path if current_user && current_user.admin?
        .top-menu-right.text-right
          %ul.text-right.list-inline.list-unstyled
            - if current_user
              %li.list-inline-item Здравствуйте, #{current_user.first_name}
              %li.list-inline-item= link_to 'Выйти', logout_path, method: :post
            - else
              %li.list-inline-item= link_to 'Войти', login_path
              %li.list-inline-item= link_to 'Регистрация', signin_path
      .row
        .header-logo
          = link_to root_path do
            = image_tag 'logo1.png', class: 'img-fluid'
        .header-contacts.hidden-lg-down
          Мы в соц.сетях
          .social
            %ul.list-unstyled.list-inline
              %li.list-inline-item
                =link_to 'https://www.instagram.com/bigairballoon_izh/', target: :_blank do
                  %i.fa.fa-instagram{"aria-hidden":  "true"}
              %li.list-inline-item
                =link_to 'https://www.facebook.com/bigairballoons/', target: :_blank do
                  %i.fa.fa-facebook{"aria-hidden": "true"}
              %li.list-inline-item
                =link_to 'https://vk.com/bigairballoon_izh', target: :_blank do
                  %i.fa.fa-vk{"aria-hidden": "true"}

          .order-call
            Позвоните нам!
            %ul.list-unstyled.phones
              %li +7(912)453-25-98
            = button_tag 'Заказать звонок', class: 'btn btn-info', data:{ toggle: 'modal', target: '#call-modal'}

= render 'delivery/layouts/call'
