.container-fluid
  .row.hidden-sm.hidden-xs
    .col-md-12.col-xs-12.col-sm-12.bg-brand.text-center.collapse#promo
      .h4{style: 'color: white;'}
        Акций пока нет!
        = link_to '#', data:{toggle: 'collapse', target: '#promo' } do
          %i.fa.fa-times
    .col-md-12.text-center
      .uppercase.inline.bg-brand{style: 'padding: 10px; border-radius: 0 0 50px 50px; font-size: 18px; display: inline;'}
        = link_to 'Акции','#', data:{toggle: 'collapse', target: '#promo' }

  .row.hidden-md.hidden-lg{style: 'width: 100%;'}
    .col-sm-12.col-xs-12.text-right.bg-brand.fixed
      .icon-wrapper{style: 'margin: 0.125em 0;position: relative;'}
        %i.fa.fa-bars{style: 'aria-hidden="true"; '}
        %small
          %span.badge.on-icon= @cart.positions.count if @cart.positions.any?
.container
  .row.hidden-xs.hidden-sm
    .col-md-6
      %ul.text-left.list-inline.list-unstyled
        %li= link_to 'Контакты'
        %li= link_to 'Доставка'
        %li= link_to 'Админка', admin_root_path if current_user && current_user.admin?
    .col-md-6
      %ul.text-right.list-inline.list-unstyled
        - if current_user
          %li Здравствуйте, #{current_user.first_name}
          %li= link_to 'Выйти', logout_path, method: :post
        - else
          %li= link_to 'Войти', login_path
          %li= link_to 'Регистрация', signin_path
  .row.display-table{style: 'margin-top: 2.8em;'}
    .col-md-2.hidden-xs.hidden-sm
    .col-md-8.col-xs-12.col-sm-9.display-cell
      = link_to root_path do
        = image_tag 'logo1.png', class: 'img-responsive'
    .col-md-2.col-sm-3.hidden-xs.display-cell
      .row.text-right
        .col-md-12.hidden-xs
          Мы в соц.сетях
          %ul.list-unstyled.list-inline.social.text-right
            %li
              =link_to 'https://www.instagram.com/bigairballoon_izh/', target: :_blank do
                %i.fa.fa-instagram{"aria-hidden":  "true"}
            %li
              =link_to 'https://www.facebook.com/bigairballoons/', target: :_blank do
                %i.fa.fa-facebook{"aria-hidden": "true"}
            %li
              =link_to 'https://vk.com/bigairballoon_izh', target: :_blank do
                %i.fa.fa-vk{"aria-hidden": "true"}
      .row.text-right
        .col-md-12.hidden-xs
          Позвоните нам!
          %ul.list-unstyled.phones
            %li +7(912)453-25-98
      .row
        .col-md-12.text-right.hidden-xs
          %p= link_to 'Заказать звонок','', class: 'btn btn-info', data:{ toggle: 'modal', target: '#call-modal'}

  = render 'delivery/layouts/call'
