.container-fluid
  .row.d-none.d-lg-block
    .col-12.bg-info.mb-1
      %ul.list-inline.d-flex.justify-content-between.m-0.fs-80
        %li.list-inline-item.pl-3
          = link_to 'О нас', about_path, class: 'text-white'
        %li.list-inline-item.pl-3
          = link_to 'Гарантии', garant_path, class: 'text-white'
        %li.list-inline-item.pl-3
          =link_to 'Доставка и оплата', info_path, class: 'text-white'
        %li.list-inline-item.pl-3
          =link_to 'Цены', prices_path, class: 'text-white'
        %li.list-inline-item.pl-3
          =link_to 'Контакты', contacts_path, class: 'text-white'
        %li.list-inline-item.pl-3
          =link_to 'Партнерам', partners_path, class: 'text-white'

.d-flex#resp-fixed.align-items-center.justify-content-around
  = link_to root_path do
    = image_tag 'logo-resp.png', class: 'img-fluid'
  .fa-layers.fa-fw.fa-2x.text-white#icon-wrapper
    %i.fas.fa-bars
    -if @cart.positions.any?
      %span.fa-layers-counter.fa-lg{data: {turbolinks: {permanent: true}}}
        = @cart.positions.count
.container-fluid#header
  .container
    .row
      .header-logo.d-none.d-lg-block
        #logo
          = link_to root_path do
            = image_tag 'logo-round.png', class: 'img-fluid'
      .header-contacts.d-none.d-lg-block
        .row
          .col-4
            .row
              .col-2
                .social
                  %ul.nav.align-content-between.flex-column
                    %li.nav-item
                      =link_to t("cities.#{@city}.links.ins"), target: :_blank, class: 'nav-link' do
                        %i.fab.fa-instagram{"aria-hidden":  "true"}
                    %li.nav-item
                      =link_to t("cities.#{@city}.links.fb"), target: :_blank , class: 'nav-link'do
                        %i.fab.fa-facebook{"aria-hidden": "true"}
                    %li.nav-item
                      =link_to t("cities.#{@city}.links.vk"), target: :_blank, class: 'nav-link' do
                        %i.fab.fa-vk{"aria-hidden": "true"}
              .col-10.text-center.justify-content-between.d-flex.flex-column
                .strong
                  .h3.mb-0
                    %small.text-info
                      %i.fa.fa-phone
                    = t "cities.#{@city}.phones.direct"
                  .small.mb-2
                    c 8:00 до 21:00
                .small.text-center
                  WhatsApp | Viber | Telegram
                  .h5.m-0
                    = t "cities.#{@city}.phones.mobile"
                .mt-2
                  = button_tag 'Нужна консультация', class: 'btn btn-secondary text-uppercase strong btn-sm', data:{ toggle: 'modal', target: '#call-modal'}
          .col-4.d-flex.justify-content-center
            %ul.p-0.m-0.list-group.list-group-flush
              .lead.text-center.text-secondary
                %i.fa.fa-car
                Доставка
              %li.list-group-item
                Бесплатная от 1200 руб.
              %li.list-group-item
                Минимальная от 600 руб.
          .col-4
            .row
              .col-12.text-right
                - unless current_user
                  .text-uppercase
                    %strong{style:'font-size: 0.9rem;'}
                      = link_to 'Войти', login_path
                      \/
                      = link_to 'Регистрация', signin_path
                - else
                  %span
                    Здравствуйте,
                    = current_user.first_name.capitalize
                    .small
                      - if current_user.admin?
                        = link_to 'Админка', '/admin',class: 'pr-3'
                      = link_to 'Личный кабинет', cp_path, class: 'pr-3'
                      = link_to 'Выйти', logout_path, method: :post
                .text-right
                  = link_to '#', data:{ toggle: 'modal', target: '#city'} do
                    %i.fas.fa-map-marker-alt
                    = t "cities.#{@city}.base"
            #cart.d-flex.flex-row.align-items-center.justify-content-end.p-1.mt-1.rounded
              #cart-icon.mr-3
                = link_to my_cart_path do
                  %i.fas.fa-shopping-basket.fa-3x.text-secondary
              .text-secondary.text-right
                .strong.lead
                  %span#sum{data: {turbolinks: {permanent: true}}}
                    = @cart.total_price.round(0)
                  %span.text-primary
                    руб.
                .font-size-08.text-primary
                  Cкидка:
                  - if current_user
                    = current_user.discount.round(2)
                  - else
                    = link_to 'Войдите', login_path
                #to-cart
                  = link_to my_cart_path do
                    В корзину
                    %i.fa.fa-angle-right
        .row.mt-3.mb-4
          .col-12
            - cache do
              = render 'delivery/layouts/main_menu'
