
#menu.bg-white
  - cache ['header-top', "user_#{logged_in?}"] do
    .bg-info
      %ul.nav.justify-content-around.small.bg-info.d-none.d-lg-flex.col-11.ml-auto
        %li.nav-item
          = link_to 'О нас', about_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Гарантии', garant_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Доставка и оплата', info_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Цены', prices_path, class: 'nav-link'
        %li.dropdown.nav-item{role: "presentation"}
          = link_to '', class: 'dropdown-toggle nav-link', data: {toggle: 'dropdown'} do
            Выпускные
          .dropdown-menu
            = link_to 'Из садика', kg_tags_path, class: 'dropdown-item small'
            = link_to 'Из школы', school_tags_path, class: 'dropdown-item small'
        %li.nav-item
          = link_to 'Отзывы', feedbacks_path, class: 'nav-link'

        %li.nav-item
          =link_to 'FAQ', faq_path, class: 'nav-link'
        - if !current_user
          %li.nav-item
            = link_to 'Войти', login_path, title: 'Войти', class: 'nav-link'
          %li.nav-item
            = link_to 'Регистрация', signin_path, title: 'Регистрация', class: 'nav-link'
        - else
          %li.nav-item
            = link_to cp_path, title: 'Личный кабинет', rel: 'nofollow', class: 'nav-link' do
              Личный кабинет
          %li.nav-item
            = link_to logout_path, method: :post, title: 'Выйти', class: 'nav-link' do
              Выйти

  %nav.navbar.navbar-expand-lg.navbar-light.bg-white.border-bottom.better-bootstrap-nav-left
    = link_to root_path, class: 'navbar-brand' do
      = image_tag 'logo-round.png', class: 'img-fluid logo-lg bg-white rounded-circle'
    = link_to '#', class: 'navbar-toggler navbar-toggler-right pt-1', data: {toggle: 'collapse', target: '#main-nav'} do
      %i.fas.fa-bars.fa-lg.text-info
    #main-nav.collapse.navbar-collapse.col-lg-11.ml-auto
      %ul.navbar-nav.ml-auto.w-100.justify-content-around
        %li.dropdown.nav-item
          = link_to '', class: 'dropdown-toggle nav-link', data: {toggle: 'dropdown'} do
            Готовые композиции
          .dropdown-menu
            = link_to 'По праздникам', tags_path, class: 'dropdown-item'
            = link_to 'Кому', receivers_path, class: 'dropdown-item'
        %li.dropdown.nav-item
          = link_to '', class: 'dropdown-toggle nav-link', data: {toggle: 'dropdown'} do
            Гелиевые шары
          .dropdown-menu
            = link_to 'По цветам', colors_path, class: 'dropdown-item'
            = link_to 'По форме', forms_path, class: 'dropdown-item'
            = link_to 'По тематике', categories_path, class: 'dropdown-item'
        %li.nav-item
          = link_to 'Для бизнеса', business_index_path, class: 'nav-link'

        %li.nav-item
          = link_to 'Контакты', contacts_path, class: 'nav-link'
        %li.nav-item
          = link_to my_cart_path, rel: 'nofollow', title: 'Корзина', class: 'nav-link' do
            %i.fas.fa-shopping-cart.text-info
            Корзина
            #cart-count.d-inline.text-danger
              = @cart.subpositions.any? ? "(#{@cart.subpositions.count})" : ''

        %li.nav-item
          = link_to 'tel: +79501718109', class: 'nav-link font-weight-bold' do
            %i.fas.fa-phone.text-info.fa-rotate-180
            +7 (950) 171-81-09
  = render 'delivery/layouts/breadcrumbs' unless @disable_bread
