.container-fluid.bg-brand.text-white
  .container
    #lp-header
      %nav.navbar.navbar-toggleable-sm
        %button.navbar-toggler.navbar-toggler-right{data: {toggle: 'collapse', target: '#lp-navbar'}}
          %i.fa.fa-bars{style: 'cursor: pointer;'}
        .navbar-brand
          = image_tag 'logo-resp.png', class: 'img-fluid'
        .collapse.navbar-collapse#lp-navbar
          %ul.navbar-nav.nav-pills
            %li.nav-item
              = link_to 'Портфолио',{anchor: 'examples'}, class: 'nav-link text-white'
            %li.nav-item
              = link_to 'Отзывы',{anchor: 'recommends'}, class: 'nav-link text-white'
            %li.nav-item
              = link_to 'Готовые композиции', root_path, class: 'nav-link text-white'
            %li.nav-item
              = link_to 'Контакты',{anchor: 'contacts'}, class: 'nav-link text-white'


