.container
  .row.border-bot
    .col-md-6
      %ul.nav.nav-pills
        %li.text-uppercase.dropdown.h4{role: "presentation"}
          = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
            Повод
            %i.fa.fa-caret-down{style: 'aria-hidden="true"'}
          %ul.dropdown-menu
            - Tag.composition_tags.each do |tag|
              %li.text-capitalize= link_to tag.name, delivery_search_path(tag_name: tag.name)
        %li.text-uppercase.h4{role: "presentation"}
          = link_to 'Кому'
        %li.text-uppercase.h4{role: "presentation"}
          = link_to 'По цене'
    .col-md-6
      %ul.nav.nav-pills{style: 'float:right'}
        %li.text-uppercase.h4
          = link_to delivery_cart_path(@cart) do
            %i.fa.fa-shopping-cart{style: 'aria-hidden="true"'}
            Корзина


