#menu
  .row
    .menu-options
      %ul.list-unstyled.nav.justify-content-around.align-items-center
        %li.dropdown
          = link_to '', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
            Готовые композиции
          %ul.dropdown-menu
            %li.dropdown-item= link_to 'По праздникам', tags_path
            %li.dropdown-item= link_to 'Кому', receivers_path
        %li.dropdown
          = link_to '', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
            Гелиевые шары
          %ul.dropdown-menu
            %li.dropdown-item= link_to 'По цветам', colors_path
            %li.dropdown-item= link_to 'По коллекциям', categories_path
        -

        %li.nav-item
          = link_to 'Для бизнеса', business_index_path

        %li.nav-item
          = link_to 'Контакты', contacts_path
        %li.nav-item.bg-secondary.rounded
          = link_to my_cart_path, rel: 'nofollow', title: 'Корзина', class: 'text-white px-1' do
            %span.fa-layers.fa-fw
              %i.fas.fa-shopping-cart
              - if @cart.positions.any?
                %span.fa-layers-counter.h2.bg-info.text-white
                  = @cart.positions.count
            Корзина
        %li.nav-item.text-center
          -#= link_to '+7 (3412) 234-084', 'tel: +7 (3412) 234-084'
          - if !current_user
            = link_to login_path, title: 'Войти' do
              Войти
            \/
            = link_to 'Регистрация', signin_path, title: 'Регистрация'
          - else
            = link_to cp_path, title: 'Личный кабинет', rel: 'nofollow' do
              Личный кабинет
            \/
            = link_to logout_path, method: :post, title: 'Выйти' do
              Выйти
          = button_tag 'Оставить заявку', class: 'btn btn-block btn-sm btn-light', data:{ toggle: 'modal', target: '#call-modal'}

