- cache do
  #menu.hidden-md-down
    .container
      .row
        .menu-options
          %ul.list-unstyled.nav.justify-content-between
            %li.dropdown{role: "presentation"}
              = link_to '', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
                Повод
              %ul.dropdown-menu{style: 'aria-labelledby="dropdownMenuButton"'}
                - @menu_tags.each do |tag|
                  %li.dropdown-item= link_to tag.name.capitalize, tag_path(tag)
            %li.dropdown{role: "presentation"}
              = link_to '', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
                Кому
              %ul.dropdown-menu
                - @menu_receivers.each do |p|
                  %li.text-capitalize.dropdown-item
                    = link_to p.title.capitalize, receiver_path(p)
            %li.text-uppercase.dropdown{role: "presentation"}
              = link_to '', class: 'dropdown-toggle', data:{toggle: 'dropdown'} do
                По цене
              %ul.dropdown-menu
                %li.px-2
                  = form_tag price_range_path, class: 'form' do
                    .form-group
                      = number_field_tag :min,'', class: ' form-control form-control-sm', placeholder: 'От'
                    .form-group
                      = number_field_tag :max,'', class: 'form-control form-control-sm', placeholder: 'До'
                    .from-group.mx-auto
                      = submit_tag 'Показать', class: 'btn btn-info btn-block btn-sm'
            %li.text-uppercase.dropdown{role: "presentation"}
              = link_to '', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
                Выпускные
              %ul.dropdown-menu
                %li.text-capitalize.dropdown-item
                  = link_to 'Из садика', kg_path
                %li.text-capitalize.dropdown-item
                  = link_to 'Из школы', school_path
            %li.text-uppercase.nav-item
              = link_to 'Для бизнеса', business_index_path
            %li.text-uppercase.nav-item
              = link_to 'Отзывы', feedbacks_path
