#menu.hidden-md-down
  .container
    .row
      .menu-options
        %ul.nav.nav-pills.nav-tabs.d-flex.justify-content-between
          %li.text-uppercase.dropdown.nav-item{role: "presentation"}
            = link_to '', class: 'nav-link dropdown-toggle', data: {toggle: 'dropdown'} do
              Повод
            %ul.dropdown-menu{style: 'aria-labelledby="dropdownMenuButton"'}
              - @menu_tags.each do |tag_name|
                %li.text-capitalize.dropdown-item= link_to tag_name, by_tag_path(tag_name)
          %li.text-uppercase.dropdown.nav-item{role: "presentation"}
            = link_to '', class: 'nav-link dropdown-toggle', data: {toggle: 'dropdown'} do
              Кому
            %ul.dropdown-menu
              - @menu_receivers.each do |title|
                %li.text-capitalize.dropdown-item
                  = link_to title, person_path(title)
          %li.text-uppercase.dropdown.nav-item{role: "presentation"}
            = link_to '', class: ' nav-link dropdown-toggle', data:{toggle: 'dropdown'} do
              По цене
            %ul.dropdown-menu
              %li
                = form_tag price_range_path, class: 'form', method: :get do
                  .form-group
                    = number_field_tag :min,'',  class: ' form-control form-control-sm', placeholder: 'От'
                  .form-group
                    = number_field_tag :max,'',  class: 'form-control form-control-sm', placeholder: 'До'
                  .from-group.mx-auto
                    = button_tag(type: 'submit', class: 'btn btn-info btn-block btn-sm') do
                      %i.fa.fa-search
          %li.text-uppercase.nav-item
            - if current_user
              = link_to account_path, class: 'nav-link' do
                %i.fa.fa-user{style: 'aria-hidden="true"'}
                Личный кабинет
          %li.text-uppercase.nav-item
            = link_to my_cart_path, class: 'nav-link cart-link' do
              .badge.badge-success
                %span
                  = @cart.total_price if @cart.positions.any?
                %i.fa.fa-rub
              %i.fa.fa-shopping-cart{style: 'aria-hidden="true"'}
              Корзина

.container-fluid
  .row
    .col-12.bg-brand.text-center.h4.offer-2
      Бесплатная доставка по городу 1000 рублей!
