.main-menu
  %ul.left-options
    %li
      = link_to do
        %span ПОВОД
        %i.fa.fa-sort-desc
      %ul
        %li= link_to 'День Рождения'
        %li= link_to 'Юбилей'
        %li= link_to 'На выписку'
        %li= link_to 'Сюрприз'
    %li
      = link_to do
        %span КОМУ
        %i.fa.fa-sort-desc
      %ul
        %li= link_to 'Для него'
        %li= link_to 'Для нее'
        %li= link_to 'Шефу'
        %li= link_to 'Родителям'
    %li
      = link_to do 
        %span ПО ЦЕНАМ
        %i.fa.fa-sort-desc
      %ul
        %li= link_to 'до 1000'
        %li= link_to 'от 1000 до 3000'
        %li= link_to 'от 3000 до 6000'
        %li= link_to 'больше 6000'
  .right-options
    %li.small
      = link_to 'Корзина', delivery_cart_path(@cart)
    %li.small= link_to 'B2B'
    %li.small
      = link_to shop_root_path do
        %i.fa.fa-arrow-circle-o-right
          В МАГАЗИН
  %ul.mobile-options
    %li= link_to 'Бесплатная доставка'
    %li= link_to 'Связаться'