.responsive-menu-list
  %span 
    Шариковая фея
  %ul
    %br
    %br
    %br
    %li.sub
      Повод
      %ul{style: 'display: none;'}
        %li= link_to 'День Рождения'
        %li= link_to 'На выписку'
        %li= link_to 'Юбилей'
        %li= link_to 'Сюрприз'
    %li.sub
      Кому
      %ul{style: 'display: none;'}
        %li= link_to 'Для него'
        %li= link_to 'Для нее'
        %li= link_to 'Родителям'
        %li= link_to 'Шефу'
    %li.sub
      Цены
      %ul{style: 'display: none;'}
        %li= link_to 'до 1000'
        %li= link_to 'от 1000 до 5000'
        %li= link_to 'от 5000 до 7000'
        %li= link_to 'от 7000' 
    %li
      Контакты
    %li
      = link_to delivery_cart_path(@cart) do
        Корзина (
        =@cart.positions.count
        items)
    %li.sub= link_to 'B2B'
    %br
    %li= link_to 'В магазин', shop_root_path
    %br
    %li= link_to 'Личный кабинет'
