#resp-menu
  .container
    .row.menu-help.align-items-end
      .menu-contacts
        / .h3 Нужна помощь?
        / .help
        /   +7(912)453-25-98
        / WhatsApp Viber Telegram
    / .row
    /   .resp-search
    /     = form_tag search_path, method: :get, class: 'form-horizontal' do
    /       .input-group
    /         = text_field_tag :tag_name,'', class: 'form-control', placeholder: 'Поиск по событию'
    /         %span.input-group-btn
    /           = button_tag(type: 'submit', class: 'btn btn-info') do
    /             %i.fa.fa-search
    .row
      .col-12.p-0
        %ul.list-unstyled.dropdown.nav.nav-pills.flex-column
          %li.dropdown.nav-item
            .h4.d-flex.justify-content-between.align-items-center
              %i.fa.fa-birthday-cake
              Повод
              %i.fa.fa-caret-down
            %ul.list-unstyled.dropdown-menus
              - @menu_tags.each do |tag|
                %li.h5
                  = link_to tag.name.capitalize, tag_path(tag), class: 'nav-link'
          %li.dropdown.nav-item
            .h4.d-flex.justify-content-between.align-items-center
              %i.fa.fa-venus-mars
              Кому
              %i.fa.fa-caret-down
            %ul.list-unstyled.dropdown-menus
              - @menu_receivers.each do |p|
                %li.h5
                  = link_to p.title.capitalize, receiver_path(p), class: 'nav-link'
          %li.dropdown.nav-item
            .h4.d-flex.justify-content-between.align-items-center
              %i.fa.fa-rub
              По цене
              %i.fa.fa-caret-down
            %ul.list-unstyled.dropdown-menus
              %li.h5
                = link_to price_range_path(max: 1000), class: 'nav-link' do
                  До 1000
              %li.h5
                = link_to price_range_path(min: 1000, max: 3000), class: 'nav-link' do
                  От 1000 до 3000
              %li.h5
                = link_to price_range_path(min: 3000, max: 5000), class: 'nav-link' do
                  От 3000 до 5000
              %li.h5
                = link_to price_range_path(min: 5000, max: 8000), class: 'nav-link' do
                  От 5000 до 8000
              %li.h5
                = link_to price_range_path(min: 8000), class: 'nav-link' do
                  От 8000
          %li.dropdown.nav-item
            .h4.d-flex.justify-content-between.align-items-center
              %i.fa.fa-graduation-cap
              Выпускные
              %i.fa.fa-caret-down
            %ul.list-unstyled.dropdown-menus
              %li.h5
                = link_to 'Из садика', kg_path, class: 'nav-link'
              %li.h5
                = link_to 'Из школы', school_path, class: 'nav-link'
    .row
      - if @cart.positions.any?
        .resp-cart
          = link_to my_cart_path, class: 'btn btn-secondary btn-block' do
            .h3.mb-0.text-white
              Корзина
              %span.badge
                = @cart.total_price
                %i.fa.fa-rub{style: 'aria-hidden="true"'}

    .row
      .col-12.p-0
        %ul.list-unstyled
          = link_to contacts_path do
            %li.nav-item.nav-item-secondary
              .ml-3
                Контакты
          = link_to feedbacks_path do
            %li.nav-item.nav-item-secondary
              .ml-3
                Отзывы
          = link_to prices_path do
            %li.nav-item.nav-item-secondary
              .ml-3
                Цены
          = link_to info_path do
            %li.nav-item.nav-item-secondary
              .ml-3
                Доставка и оплата
          = link_to about_path do
            %li.nav-item.nav-item-secondary
              .ml-3
                О нас
          - unless current_user
            = link_to login_path do
              %li.nav-item.nav-item-secondary
                .ml-3
                  Войти
            = link_to signin_path do
              %li.nav-item.nav-item-secondary
                .ml-3
                  Регистрация
          - else
            = link_to cp_path do
              %li.nav-item.nav-item-secondary
                .ml-3
                  Личный кабинет
