.resp-menu{style: 'margin-top: 2.55em; padding-bottom: 3em;'}
  .container-fluid
    .container
      .row
        .col-xs-12.col-sm-12
      .row.display-table
        .col-xs-4.col-sm-4.display-cell
          =link_to delivery_root_path do
            =image_tag 'logo2.png', class: 'img-responsive'
        .col-sm-8.col-xs-8.display-cell
          Нужна помощь?
          .h4
            +7(912)453-25-98
          WhatsApp Viber Telegram
      .row
        .col-sm-12.col-xs-12
          %ul.nav.nav-pills
            %li.h4.text-center
              = form_tag delivery_search_path, method: :get, class: 'form-horizontal' do
                .input-group
                  = text_field_tag :tag_name,'', class: 'form-control input-sm', placeholder: 'Введите событие...'
                  %span.input-group-btn
                    = button_tag(type: 'submit', class: 'btn btn-primary btn-sm') do
                      %i.fa.fa-search
      .row
        .col-sm-12.col-xs-12
          %ul.list-unstyled.dropdown
            %li.dropdown
              .h3
                Повод
                %span.caret
              %ul.list-unstyled.dropdown-menus
                - Tag.composition_tags.each do |tag|
                  %li.text-capitalize.h4= link_to tag.name, delivery_search_path(tag_name: tag.name)
            %li.dropdown
              .h3
                Кому
                %span.caret
              %ul.list-unstyled.dropdown-menus
                - Tag.composition_tags.each do |tag|
                  %li.text-capitalize.h4= link_to tag.name, delivery_search_path(tag_name: tag.name)
            %li.dropdown
              .h3
                По цене
                %span.caret
              %ul.list-unstyled.dropdown-menus
                - Tag.composition_tags.each do |tag|
                  %li.text-capitalize.h4= link_to tag.name, delivery_search_path(tag_name: tag.name)
      - if @cart.positions.any?
        .row{style: 'margin-top: 1em; border-bottom: 1px solid #ffffff; padding-bottom: 1em;'}
          .col-xs-8
            = link_to delivery_cart_path(@cart), class: 'btn btn-info btn-block' do
              Корзина
              %span.badge
                = @cart.total_price
                %i.fa.fa-rub{style: 'aria-hidden="true"'}
