#resp-menu
  .container
    .row.menu-help.align-items-end
      .menu-contacts
        .h3 Нужна помощь?
        .help
          +7(912)453-25-98
        WhatsApp Viber Telegram
    .row
      .resp-search
        = form_tag search_path, method: :get, class: 'form-horizontal' do
          .input-group
            = text_field_tag :tag_name,'', class: 'form-control', placeholder: 'Поиск по событию'
            %span.input-group-btn
              = button_tag(type: 'submit', class: 'btn btn-info') do
                %i.fa.fa-search
    .row
      .col-sm-12.col-xs-12.col-md-12
        %ul.list-unstyled.dropdown.nav.nav-pills.flex-column
          %li.dropdown.nav-item
            .h2.d-flex.justify-content-between
              Повод
              %i.fa.fa-caret-down
            %ul.list-unstyled.dropdown-menus
              - @menu_tags.each do |tag_name|
                %li.h4
                  = link_to tag_name.capitalize, by_tag_path(tag_name), class: 'nav-link'
          %li.dropdown.nav-item
            .h2.d-flex.justify-content-between
              Кому
              %i.fa.fa-caret-down.align-self-end
            %ul.list-unstyled.dropdown-menus
              - @menu_receivers.each do |title|
                %li.h4
                  = link_to title.capitalize, person_path(title), class: 'nav-link'
          %li.dropdown.nav-item
            .h2.d-flex.justify-content-between
              По цене
              %i.fa.fa-caret-down
            %ul.list-unstyled.dropdown-menus
              %li.h5
                = link_to price_range_path(max: 1000), class: 'nav-link' do
                  До 1000
              %li.h5
                = link_to price_range_path(min: 1000, max: 3000), class: 'nav-link' do
                  От 1000 до 3000
              %li.h5
                = link_to price_range_path(min: 3000, max: 5000), class: 'nav-link' do
                  От 3000 до 5000
              %li.h5
                = link_to price_range_path(min: 5000, max: 8000), class: 'nav-link' do
                  От 5000 до 8000
              %li.h5
                = link_to price_range_path(min: 8000), class: 'nav-link' do
                  От 8000
    .row
      - if @cart.positions.any?
        .resp-cart
          = link_to my_cart_path, class: 'btn btn-primary btn-block' do
            %h3
              Корзина
              %span.badge
                = @cart.total_price
                %i.fa.fa-rub{style: 'aria-hidden="true"'}

    .row
      .col-sm-12.col-xs-12{style: 'margin-top: 1.5em;'}
        %ul.list-unstyled.list-inline.h4
          - unless current_user
            %li= link_to 'Войти', login_path
            %li= link_to 'Регистрация', signin_path
          - else
            %li= link_to 'Личный кабинет', user_path(current_user)
