%noindex#resp-menu
  .container
    .row.mt-4
      .col-12
        %ul.list-unstyled.dropdown.nav.nav-pills.flex-column
          %li.dropdown.nav-item
            .lead.d-flex.justify-content-between.py-3.align-items-center
              %i.fa.fa-birthday-cake
              Готовые композиции
              %i.fa.fa-caret-down
            %ul.list-unstyled.dropdown-menus
              %li.py-2
                = link_to 'По праздникам', tags_path, class: 'nav-link', rel: 'nofollow'
              %li.py-2
                = link_to 'Кому', receivers_path, class: 'nav-link', rel: 'nofollow'
          %li.dropdown.nav-item
            .lead.d-flex.justify-content-between.py-3.align-items-center
              %i.fa.fa-venus-mars
              Гелиевые шары
              %i.fa.fa-caret-down
            %ul.list-unstyled.dropdown-menus
              %li.py-2
                = link_to 'По коллекциям', categories_path, class: 'nav-link', rel: 'nofollow'
              %li.py-2
                = link_to 'По цветам', colors_path, class: 'nav-link', rel: 'nofollow'
          %li.dropdown.nav-item
            .lead.d-flex.justify-content-between.py-3.align-items-center
              %i.fas.fa-ruble-sign
              Композиции по цене
              %i.fa.fa-caret-down
            %ul.list-unstyled.dropdown-menus
              %li.py-2
                = link_to price_range_path(max: 1000), class: 'nav-link', rel:'nofollow' do
                  До 1000
              %li.py-2
                = link_to price_range_path(min: 1000, max: 3000), class: 'nav-link', rel:'nofollow' do
                  От 1000 до 3000
              %li.py-2
                = link_to price_range_path(min: 3000, max: 5000), class: 'nav-link', rel:'nofollow' do
                  От 3000 до 5000
              %li.py-2
                = link_to price_range_path(min: 5000, max: 8000), class: 'nav-link', rel:'nofollow' do
                  От 5000 до 8000
              %li.py-2
                = link_to price_range_path(min: 8000), class: 'nav-link', rel:'nofollow' do
                  От 8000
          %li.dropdown.nav-item
            .lead.d-flex.justify-content-between.py-3.align-items-center
              %i.fas.fa-graduation-cap
              Выпускные
              %i.fas.fa-caret-down
            %ul.list-unstyled.dropdown-menus
              %li.py-2
                = link_to 'Из садика', kg_path, class: 'nav-link', rel:'nofollow'
              %li.py-2
                = link_to 'Из школы', school_path, class: 'nav-link', rel:'nofollow'
          %li.nav-item
            = link_to business_index_path, data: {turbolinks: false}, rel:'nofollow' do
              .lead.d-flex.justify-content-between.py-3.align-items-center
                %i.fa.fa-briefcase
                Для бизнеса
                %i.fa.fa-arrow-circle-right
    .row
      - if @cart.total_price > 0
        .resp-cart
          = link_to my_cart_path, class: 'btn btn-secondary btn-block', rel:'nofollow' do
            .h3.mb-0.text-white
              Корзина
              %span.badge
                = @cart.total_price.round(0)
                %i.fas.fa-ruble-sign

    .row
      .col-12.p-0
        %ul.list-unstyled
          = link_to contacts_path, rel:'nofollow' do
            %li.nav-item.nav-item-secondary.py-2
              .ml-3
                Контакты
          = link_to feedbacks_path, rel:'nofollow' do
            %li.nav-item.nav-item-secondary.py-2
              .ml-3
                Отзывы
          = link_to prices_path, rel:'nofollow' do
            %li.nav-item.nav-item-secondary.py-2
              .ml-3
                Цены
          = link_to info_path, rel:'nofollow' do
            %li.nav-item.nav-item-secondary.py-2
              .ml-3
                Доставка и оплата
          = link_to about_path, rel:'nofollow' do
            %li.nav-item.nav-item-secondary.py-2
              .ml-3
                О нас
          - unless current_user
            = link_to login_path, rel:'nofollow' do
              %li.nav-item.nav-item-secondary.py-2
                .ml-3
                  Войти
            = link_to signin_path, rel:'nofollow' do
              %li.nav-item.nav-item-secondary.py-2
                .ml-3
                  Регистрация
          - else
            = link_to cp_path, rel:'nofollow' do
              %li.nav-item.nav-item-secondary.py-2
                .ml-3
                  Личный кабинет
