
.col-12.col-lg-2.sidebar-sticky
  = link_to '#', class: 'd-lg-none collapsed d-block text-center py-2 bg-light border-bottom', data:{toggle: 'collapse', target: '#sidebar'} do
    %i.fas.fa-ellipsis-h.fa-2x.text-info
  %ul#sidebar.navbar-nav.flex-column.navbar-light.collapse
    %li.nav-item
      = active_link_to 'По праздникам', tags_path, class: 'nav-link h5'
    .collapse{class: ('show' if is_active_link?(tags_path))}
      - @tags.each do |tag|
        %li.nav-item
          = active_link_to tag.name.capitalize,  tag_path(tag), class: 'nav-link small'
    %li.nav-item
      = active_link_to 'Кому', receivers_path, class: 'nav-link h5'
    .collapse{class: ('show' if is_active_link?(receivers_path))}
      - @menu_receivers.each do |r|
        %li.nav-item
          = active_link_to r.title.capitalize, receiver_path(r), class: 'nav-link small'