
.col-12.col-lg-2.sidebar-sticky
  .d-flex.align-items-center.py-3
    .input-group.border.rounded
      = text_field_tag :global_search,'', class: 'form-control form-control-sm border-0', placeholder: 'Поиск...'
      %span.input-group-append.bg-white
        = button_tag(class: 'btn btn-sm', title: 'Поиск', data: {toggle: 'tooltip'}) do
          %i.fa.fa-search.text-muted
    = link_to '#', class: 'd-lg-none collapsed d-inline-block text-center py-2 ml-4', data:{toggle: 'collapse', target: '#sidebar'} do
      %i.fas.fa-ellipsis-v.fa-2x.text-info
  %ul#sidebar.navbar-nav.flex-column.navbar-light.collapse
    .sidebar-heading.text-center.text-muted
      %span
        Готовые композиции
    %hr.my-1
    %li.nav-item
      = link_to 'Праздники', '#', class: ('nav-link h5' + (is_active_link?(tags_path) ? '' : ' collapsed')), data: {toggle: 'collapse', target: '#events'}
    .collapse#events{class: ('show' if is_active_link?(tags_path))}
      %li.nav-item
        = active_link_to 'Все композиции', tags_path, class: 'nav-link small', active: :exact
      - @tags.each do |tag|
        %li.nav-item= active_link_to tag.name.capitalize,  tag_path(tag), class: 'nav-link small'
      %li.nav-item
        = active_link_to 'Выпускной из садика', kg_tags_path, class: 'nav-link small'
      %li.nav-item
        = active_link_to 'Выпускной из школы', school_tags_path, class: 'nav-link small'
    %li.nav-item
      = link_to 'Кому', '#', class: ('nav-link h5' + (is_active_link?(receivers_path) ? '' : ' collapsed')), data: {toggle: 'collapse', target: '#persons'}
    .collapse#persons{class: ('show' if is_active_link?(receivers_path))}
      = active_link_to 'Все композиции', receivers_path, class: 'nav-link small', active: :exact
      - @menu_receivers.each do |r|
        %li.nav-item
          = active_link_to r.title.capitalize, receiver_path(r), class: 'nav-link small'
    .sidebar-heading.text-center.text-muted
      %span
        Гелиевые шары
    %hr.my-1
    %li.nav-item
      = link_to 'Гелиевые шары', '#', class: ('nav-link h5' + (is_active_link?(products_path) ? '' : ' collapsed')), data: {toggle: 'collapse', target: '#products-menu'}

    .collapse#products-menu{class: ('show' if is_active_link?(products_path))}
      %li.nav-item
        = active_link_to 'Все шары', products_path, class: 'nav-link small', active: :exact
      %li.nav-item
        = active_link_to categories_path, class: 'nav-link small' do
          По категориям
        -#%i.fas.fa-caret-down
      %li.nav-item
        = active_link_to 'По цветам', colors_path, class: 'nav-link small'