
.sidebar-sticky.col-lg-1.col-12
  -#.d-flex.align-items-center.py-3.d-lg-none
  -#  .input-group.border.rounded
  -#    = text_field_tag :global_search,'', class: 'form-control form-control-sm border-0', placeholder: 'Поиск...'
  -#    %span.input-group-append.bg-white
  -#      = button_tag(class: 'btn btn-sm', title: 'Поиск', data: {toggle: 'tooltip'}) do
  -#        %i.fa.fa-search.text-muted
  -#  = link_to '#', class: 'd-lg-none collapsed d-inline-block text-center px-2 border rounded ml-2 pt-1', data:{toggle: 'collapse', target: '#sidebar'} do
  -#    %i.fas.fa-sliders-h.fa-2x.text-info
  %nav.navbar.better-bootstrap-nav-left.align-items-end.justify-content-end
    = link_to '#', class: 'navbar-toggler navbar-toggler-right text-center py-1 text-info', title: 'Меню', data: {toggle: 'collapse', target: '#sidebar'} do
      %i.fas.fa-chevron-circle-right.fa-lg.text-secondary
      .small.mt-1
        Меню
    #sidebar.navbar-collapse.collapse
      %ul.navbar-nav
        .sidebar-heading.text-center.text-info
          %span
            Готовые композиции
        %hr.my-1
        %li.nav-item
          = link_to 'Праздники', '#', class: ('nav-link h5' + (is_active_link?(tags_path) ? '' : ' collapsed')), data: {toggle: 'collapse', target: '#events'}
        .collapse#events{class: ('show' if is_active_link?(tags_path))}
          %li.nav-item
            = active_link_to 'Все композиции', tags_path, class: 'nav-link small', active: :exact
          - @tags.each do |tag|
            %li.nav-item= active_link_to tag.name.capitalize,  tag_path(tag), class: 'nav-link small'
          %li.nav-item
            = active_link_to 'Выпускной из садика', kg_tags_path, class: 'nav-link small'
          %li.nav-item
            = active_link_to 'Выпускной из школы', school_tags_path, class: 'nav-link small'
        %li.nav-item
          = link_to 'Кому', '#', class: ('nav-link h5' + (is_active_link?(receivers_path) ? '' : ' collapsed')), data: {toggle: 'collapse', target: '#persons'}
        .collapse#persons{class: ('show' if is_active_link?(receivers_path))}
          = active_link_to 'Все композиции', receivers_path, class: 'nav-link small', active: :exact
          - @menu_receivers.each do |r|
            %li.nav-item
              = active_link_to r.title.capitalize, receiver_path(r), class: 'nav-link small'
        .sidebar-heading.text-center.text-info
          %span
            Гелиевые шары
        %hr.my-1
        %li.nav-item
          = link_to 'Гелиевые шары', '#', class: ('nav-link h5' + (is_active_link?(products_path) ? '' : ' collapsed')), data: {toggle: 'collapse', target: '#products-menu'}

        .collapse#products-menu{class: ('show' if is_active_link?(products_path))}
          %li.nav-item
            = active_link_to 'Все шары', products_path, class: 'nav-link small', active: :exact
          %li.nav-item
            = active_link_to categories_path, class: 'nav-link small' do
              По тематике
            -#%i.fas.fa-caret-down
          %li.nav-item
            = active_link_to 'По цветам', colors_path, class: 'nav-link small'
          %li.nav-item
            = active_link_to 'По форме', forms_path, class: 'nav-link small'