.row.justify-content-center
  .col-6.text-center
    %h1
      Добавить клиента
    = form_for [:admin, @user] do |f|
      - if @user.errors.any?
        %ul.text-left
        - @user.errors.full_messages.each do |m|
          %li= m
      .form-group
        = f.label :first_name, 'Имя'
        = f.text_field :first_name, class: 'form-control'
      .form-group
        = f.label :phone, 'Телефон'
        = f.phone_field :phone, class: 'form-control'

      .form-group
        = f.submit 'Создать', class: 'btn btn-block btn-info'
