.responsive-menu-list
  %span 
    Шариковая фея
  %ul
    %li
    %li
    %li= link_to 'Повод'
    %li= link_to 'Кому'
    %li= link_to 'Цены'
    %li= link_to 'Контакты'
    %li= link_to 'Корзина'
    %li 
    %li= link_to 'Личный кабинет'
