.responsive-menu-list
  %span 
    Шариковая фея
  %ul
    %br
    %br
    %br
    %li.sub
      Повод
      %ul{style: 'display: none;'}
        %li= link_to 'День Рождения'
    %li.sub
      Кому
      %ul{style: 'display: none;'}
        %li= link_to 'День Рождения'
    %li.sub
      Цены
      %ul{style: 'display: none;'}
        %li= link_to 'День Рождения'
    %li
      Контакты
    %li
      = link_to 'Корзина'
    %li.sub= link_to 'B2B'
    %br
    %br
    %br
    %li= link_to 'Личный кабинет'
