!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Balloons
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', defer: true, async: Rails.env.production?, 'data-turbolinks-track': 'reload'
  %body
    %a#return-to-top
      %i.fa.fa-chevron-up
    .wrapper
      %header
        = render 'admin/layouts/left_menu'
        - flash.each do |key, message|
          %div{class: "alert alert-#{key} text-center"}
            = message

      .container-fluid.p-0
        = yield
    %footer
      = render 'admin/layouts/footer'
