!!!
%html
  %head
    = render 'delivery/layouts/special/meta'
    = display_meta_tags
    = favicon_link_tag 'favicons/favicon-32.png'
    = favicon_link_tag 'favicons/favicon-120.png', rel: 'apple-touch-icon'
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true, async: Rails.env.production?
  %body
    %a#return-to-top
      %span.fa-stack
        %i.fas.fa-circle.fa-stack-2x
        %i.fas.fa-angle-double-up.fa-stack-1x
    .wrapper
      %header
        - unless @disable_header
          = render 'delivery/layouts/header'
      = render 'delivery/layouts/flash'
      .container-fluid.main.p-0
        .row.no-gutters
          = render 'delivery/layouts/sidebar' unless @disable_sidebar
          .col.p-0
            = yield
            = render 'delivery/main/help' unless @disable_help
            = render 'delivery/main/seo'
            = render 'delivery/layouts/call'
            = render 'delivery/layouts/modal_city'

    %footer
      = render 'delivery/layouts/footer' unless @disable_footer
    = render 'delivery/layouts/special/scripts'
  %noscript
    %div
      %img{src: "https://mc.yandex.ru/watch/37371855", style: "position:absolute; left:-9999px;", alt: ""}
