!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{property: 'og:image', content: "#{image_url 'logo2.png', alt: 'Шариковая фея'}"}
    %meta{name: "google-site-verification", content:"7YdqoinSILjL2WHYMwi8xu3uUDgshmVKYp6GKfoBavo"}
    %meta{name: "yandex-verification", content: "55c1242f77b26454"}
    = display_meta_tags site: 'Шариковая фея', separator: '&bull;'.html_safe,description: 'Доставка самых красивых воздушных шаров, оформление праздников, доставка по Ижевску бесплатно!'
    = favicon_link_tag 'favicons/favicon-32.png'
    = favicon_link_tag 'favicons/favicon-120.png', rel: 'apple-touch-icon'
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %a#return-to-top
      %i.fa.fa-chevron-up
    %div
      %img{src: "https://mc.yandex.ru/watch/37371855", style: "position:absolute; left:-9999px;", alt: ""}
    .wrapper
      %header
        #responsive
          = render 'delivery/layouts/resp_menu'
        = render 'delivery/layouts/header'

        #flash.col-md-6.col-xs-12.col-sm-12
          - flash.each do |key, message|
            %div{class: "alert alert-#{key} alert-dismissible fade in text-center"}
              = message
              %button{type: "button",  class: "close", style: 'font-size: 2em;' ,  data:{dismiss: "alert"} }
                %span
                  &times;
      =render 'delivery/layouts/main_menu'
      = yield
      / = render 'delivery/layouts/'
    %footer
      / =render 'delivery/layouts/footer'

