!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{property: 'og:image', content: "#{image_url 'logo2.png'}"}
    %meta{name: "google-site-verification", content:"7YdqoinSILjL2WHYMwi8xu3uUDgshmVKYp6GKfoBavo"}
    %meta{name: "yandex-verification", content: "55c1242f77b26454"}
    = display_meta_tags
    = favicon_link_tag 'favicons/favicon-32.png'
    = favicon_link_tag 'favicons/favicon-120.png', rel: 'apple-touch-icon'
    = csrf_meta_tags
    = javascript_include_tag 'https://api-maps.yandex.ru/2.1/?lang=ru_RU',async: Rails.env.production?
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', async: Rails.env.production?
    = javascript_include_tag 'https://www.googleadservices.com/pagead/conversion_async.js', async: true
  %body
    %a#return-to-top
      %i.fa.fa-chevron-up
    .wrapper
      %header
        #responsive
          = render 'delivery/layouts/resp_menu'
        - unless @disable_header
          = render 'delivery/layouts/header'
        = render 'delivery/layouts/flash'
        = render 'delivery/layouts/breadcrumbs'
      = yield
    %footer
      =render 'delivery/layouts/footer'
  = render 'delivery/ym'
  = render 'delivery/ga'

