!!!
%html
  %head
    = render 'delivery/layouts/special/meta'
    = display_meta_tags
    = favicon_link_tag 'favicons/favicon-32.png'
    = favicon_link_tag 'favicons/favicon-120.png', rel: 'apple-touch-icon'
    = csrf_meta_tags
    = render 'delivery/layouts/special/scripts'
    = render 'delivery/layouts/special/ym'
    = render 'delivery/layouts/special/ga'
    %link{rel: "preload", href: stylesheet_path("fonts"), onload: "this.rel = 'stylesheet'", as: "style"}
    %noscript
      = stylesheet_link_tag 'fonts'
    = stylesheet_link_tag 'application', media: 'all'
  %body
    %a#return-to-top{data: {toggle: 'tooltip'}, title: 'Наверх'}
      %span.fa-stack
        %i.fas.fa-circle.fa-stack-2x
        %i.fas.fa-angle-double-up.fa-stack-1x
    .wrapper
      %header
        - unless @disable_header
          = render 'delivery/layouts/header'
      = render 'delivery/layouts/flash'
      = render 'delivery/layouts/breadcrumbs' unless @disable_bread
      = render 'delivery/layouts/resp_menu'
      = yield
      = render 'delivery/main/help'
      = render 'delivery/feedbacks/get_feedback'
      = render 'delivery/main/seo'
      = render 'delivery/layouts/call'
      = render 'delivery/layouts/modal_city'

    %footer
      = render 'delivery/layouts/footer' unless @disable_footer
    / = render 'delivery/layouts/special/chats'


