!!!
%html{lang: 'ru'}
  %head
    = render 'delivery/layouts/special/meta'
    = display_meta_tags
    = favicon_link_tag 'favicons/favicon-32.png'
    = favicon_link_tag 'favicons/favicon-120.png', rel: 'apple-touch-icon'
    = csrf_meta_tags
    = javascript_packs_with_chunks_tag 'application', 'data-turbo-track': 'reload', async: true, defer: true
    = stylesheet_packs_with_chunks_tag 'application', media: 'all', 'data-turbo-track': 'reload'
  %body
    .wrapper
      %header
        - unless @disable_header
          = render 'delivery/layouts/header'
      = render 'delivery/layouts/flash'
      .container-fluid.main#main-container
        .row.no-gutters
          = render 'delivery/layouts/sidebar' unless @disable_sidebar
          .col
            = yield
            = render 'delivery/main/help' unless @disable_help
            = render 'delivery/main/seo'


    = render 'delivery/calls/request_call'
    %footer
      = render 'delivery/layouts/footer' unless @disable_footer
    = render 'delivery/layouts/special/scripts'
